<div id="insurance" class="tab-pane fade active show in">
    <section class="pt-1 pb-4 pt-lg7 pb-lg-2">
        <div>
            <div class="mt-2">
                <div class="custom-page" style="left: -2.8%;">
                    <h2>Appointment History</h2>
                </div>
                <div>
                    <div class="card mb-0 pb-0 implicit-pag jobPager">
                        <p-table class="table-striped table-hover" #dt1 [value]="patientHistory" [scrollable]="true"
                            scrollDirection="both" (onFilter)="onFilter($event)" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [globalFilterFields]="['date','time','roomNumber','provider','exam','status']"
                            sortField="date" [sortOrder]="-1" [rowsPerPageOptions]="[10,25,50,100,500]"
                            [customSort]="true" (sortFunction)="customSort($event)">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex search-icon m-2">
                                    <button
                                        *ngIf="searchGlobalText || dateFilter || idFilter || examFilter || providerFilter ||roomFilter || statusFilter"
                                        pButton label="Clear Filters" id="custom-btn" class="p-button-outlined"
                                        icon="pi pi-filter-slash" (click)="clear(dt1)"
                                        (click)="dt1.filterGlobal($event.target.value, 'contains')"></button>
                                    <span class="search-baricon p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" [(ngModel)]="searchGlobalText"
                                            class="form-control-35"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search keyword" />
                                    </span>
                                    <span ><img (click)="onExport()" src="../../../assets/images/excel-icon.png" title="&#13; &nbsp; Export&#13;" width="25px"
                                        class="cursor-pointer ml-2 mt-1" /></span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="date" class="popup_common_date_width">
                                        <div class="p-d-flex  p-ai-center ml-2">
                                            Date
                                            <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="text" field="date" display="Date"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="roomNumber" class="popup_common_width">
                                        <div class="p-d-flex  p-ai-center ml-1">
                                            Room
                                            <p-sortIcon field="roomNumber"></p-sortIcon>
                                            <p-columnFilter type="text" field="roomNumber" display="Room">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="provider" class="popup_provider_width">
                                        <div class="p-d-flex  p-ai-center ml-1">
                                            Provider
                                            <p-sortIcon field="provider"></p-sortIcon>
                                            <p-columnFilter type="text" field="provider" display="Provider">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="exam" class="popup_exam_width">
                                        <div class="p-d-flex  p-ai-center ml-1">
                                            Exam
                                            <p-sortIcon field="exam"></p-sortIcon>
                                            <p-columnFilter type="text" field="exam" display="Exam"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="status" class="appointment_room_width">
                                        <div class="p-d-flex  p-ai-center ml-1">
                                            Status
                                            <p-sortIcon field="status"></p-sortIcon>
                                            <p-columnFilter type="text" field="status" display="Status">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-row>
                                <tr>
                                    <td class="popup_common_date_width">{{row.date}}</td>
                                    <td class="popup_common_width">{{row.roomNumber}}</td>
                                    <td class="popup_provider_width">{{row.provider}}</td>
                                    <td class="popup_exam_width">{{row.exam}}</td>
                                    <td class="appointment_room_width">{{row.status}}</td>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr *ngIf="isNoRecorsFound">
                                    <td colspan="5">No records found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>