<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/peripheral-banner-img-2.jpg" alt="" /></div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                             <div class="text-panel">Peripheral <br>Arterial Disease</div>
                            <p class="banner-tagline">A patient guide to avoid amputation<br> using our LEEP! program</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="about two-col-sections topProductsInfo aboutbgfirst ">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-panel">
                        <div class="center-panel">
                            <h2 class="large-heading-font-think">Peripheral Arterial <br>Disease (PAD) </h2>
                            <p class="exlarge">is a dangerous lack of blood flow through the limbs, usually the legs.</p>

                            <p>PAD is caused when arteries become
                                too narrow and blood flow is reduced or
                                blocked entirely. The most severe level of
                                PAD is Critical Limb Ischemia (CLI). </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="image-panel about-img career-img why-img"><img src="assets/images/peripheral-img-1.jpg" alt="" class="img-fluid"></div>
                            
                            
                            
                        </div>
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>










<section class="two-col-sections blueboxrounded ">
    <div class="container-custom">
        <div class="container">
            <div class="max-width-container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Traditionally, especially in the geriatric
                            population, CLI is treated with
                            amputation. While amputation solves the
                            CLI, patients are left with a new host of
                            problems, including learning to navigate
                            without the amputated limb.</p>
                        <p>Amputation is not the only option.
                            MVP’s LEEP! program treats CLI —
                            without losing any limbs.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>









<section class="two-col-sections  bgboxroundedabs lightbg">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/peripheral-img-3.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2>What are the signs and<br />
                        symptoms of Peripheral<br />
                        Arterial Disease?</h2>
                    <p>One of the most common symptoms of
                        CLI is leg pain, called ischemic rest pain.
                        The pain is most common when your
                        legs are in a resting position or during
                        your sleep</p>
                    <p><strong>Other symptoms include:</strong></p>
                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Diabetic ulcers</li>
                                <li><i class="fas fa-check"></i> Pain when walking</li>
                                <li><i class="fas fa-check"></i> Long-lasting wounds</li>
                                <li><i class="fas fa-check"></i> Excessive thickening of toenails</li>
                                <li><i class="fas fa-check"></i> Lack of pulse in the limb</li>
                                <li><i class="fas fa-check"></i> Dry gangrene</li>
                                <li><i class="fas fa-check"></i> Extremely shiny and/or flaky skin on the foot or leg</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections reverse ">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/peripheral-img-2.jpg" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2>The risk increases with age, but other
                        factors can also contribute toward
                        the chance of developing PAD.</h2>
                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Family history of atherosclerosis or claudication</li>
                                <li><i class="fas fa-check"></i> High blood pressure</li>
                                <li><i class="fas fa-check"></i> High cholesterol</li>
                                <li><i class="fas fa-check"></i> Inactive lifestyle</li>
                                <li><i class="fas fa-check"></i> Obesity</li>
                                <li><i class="fas fa-check"></i> Smoking</li>
                                <li><i class="fas fa-check"></i> Diabetes </li>
                                <li><i class="fas fa-check"></i> Chronic kidney disease </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>








<section class="two-col-sections lightbg whatsprocedure">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/peripheral-banner-img.png" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2 class="large-heading-font">The Simple Process</h2>


                    <div class="single-service">
                        <div class="entry-introduction">
                            <div class="flex-list-section">
                                <ul class="list-unstyled advantages mb-0">
                                    <li><span class="number">1</span>
                                        <strong>Comprehensive
                                            Diagnostic Evaluation</strong><br>
                                        <span class="blockDiv">Your physician will run tests to
                                            diagnose the concern and create
                                            the best-suited plan of care. We offer
                                            advanced diagnostic imaging, from
                                            ultrasounds to arteriography, right in
                                            our office. </span>

                                    </li>
                                    <li><span class="number">2</span>
                                        <strong>Advanced Wound
                                            Care Strategies</strong><br>
                                        <span class="blockDiv">After diagnosing, we perform the
                                            appropriate intervention, including
                                            minimally invasive endovascular
                                            therapies like angioplasty, stenting or
                                            atherectomy.</span>
                                        <span class="blockDiv">Should a surgical procedure such as
                                            arterial bypasses or revascularization
                                            be required, our expert physicians
                                            will help navigate and manage your
                                            treatment plan. </span>
                                    </li>

                                    <li><span class="number">3</span>
                                        <strong>Preservation</strong><br>
                                        <span class="blockDiv">With your limbs intact and your PAD or kidney disease under control, you can continue living a full, mobile life.</span>
                                    </li>



                                </ul>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<div class="contact-info contactus-page contactblueSection" id="contact">
    <help-form></help-form>
</div>