<section class="banner-section-bio">
  <div class="container">
  <div class="row">
    <div class="bio-col">

      <div class="col-12 col-lg-12">
          <div class="bio-image-section">
       <div class="image-panel"><img src="assets/images/team/eric-berkowitz.jpg" alt=""></div>
      <div class="banner_text">
          <div class="center-panel eric-text">
            
              <div class="text-panel">Eric Berkowitz, MD</div>
              <h4>Vascular and Interventional Radiologist</h4>
              <p>Dr. Eric Berkowitz is a vascular interventional 
radiologist with more than twenty years of 
experience, whose work has been published 
in eight medical journals. He is a licenced 
NYS physician and holds an American Board 
of Radiology (ABR) license.</p>
          </div>
      </div>
               <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div></div>
        </div>
    </div>
        </div> 
      </div></section>
<section class="team-single team-single-standard teaminfosection">
  <div class="container"> 
    <div class="row"> 
        
      <div class="col-12 col-lg-12">
       
        <div class="entry-table"> 
          <table class="table table-striped">
            <tbody> 
              <tr> 
                <td>
                  <div class="content head">Education:  </div>
                </td>
                <td>
                  <div class="content">Bachelors in Biochemistry, CUNY Queens College, Flushing, NY SUNY at Syracuse College of Medicine </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Residency:</div>
                </td>
                <td>
                  <div class="content head-list-right"><ul class="list-unstyled experties-list in-list"> 
                      <li><i class="fas fa-check"></i>  Internal Medicine: Maimonides Medical Center, Brooklyn, NY
                        Radiology: Nassau University Medical Center, East Meadow, NY </li>
                      <li><i class="fas fa-check"></i>  Radiology: Nassau University Medical Center, East Meadow, NY</li>
                    </ul></div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Speciality</div>
                </td>
                <td>
                  <div class="content head-list-right spe-list">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i>  Diagnostic Radiology  </li>
                      <li><i class="fas fa-check"></i>  Radiology</li>
                      <li><i class="fas fa-check"></i>  Vascular & Interventional Radiology </li>
                      <li><i class="fas fa-check"></i>  Vascular Medicine</li>
                      <li><i class="fas fa-check"></i>  Uterine Artery Embolization </li>
                      <li><i class="fas fa-check"></i>  Treatment of Venous Insufficiency</li>
                      <li><i class="fas fa-check"></i>  Venous Stenting </li>
                      <li><i class="fas fa-check"></i>  Treatment of Peripheral Arterial Disease </li>
                    </ul>

                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i>  Angioplasty </li>
                      <li><i class="fas fa-check"></i>  Atherectomy</li>
                      <li><i class="fas fa-check"></i>  Stenting </li>
                      <li><i class="fas fa-check"></i> Limb Salvage</li>
                      <li><i class="fas fa-check"></i>  Hemodialysis Access </li>
                      <li><i class="fas fa-check"></i>  Pelvic Congestion Syndrome</li>
                      <li><i class="fas fa-check"></i>  Varicoceles</li>
                     
                    </ul>
                  </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Fellowship:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i> Vascular & Interventional Radiology:
                        Beth Israel Medical Center, New York, NY </li>
                    </ul>
                    </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Hospital and Clinic
                    Affiliations:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list chief-col"> 
                      <li><i class="fas fa-check"></i>  Chief of Interventional Radiology, Mount Sinai Beth Israel, Brooklyn Division  </li>
                      <li><i class="fas fa-check"></i>  Attending Physician Radiology New York Presbyterian Queens </li>
                      <li><i class="fas fa-check"></i>  Attending Physician Radiology Nassau University Medical Center </li>
                     
                    </ul>

                  </div>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
       
        
      </div>
    </div>
  </div>
</section>
<common-footer></common-footer>