<div id="insurance" class="tab-pane fade active show in">
    <section class="pt-1 pb-4 pt-lg7 pb-lg-2 custom-margin">
        <div class="container">
            <form>
                <div class="row justify-content-center mt-2">
                    <div class="col-md-12 col-lg-12 px-3">
                        <h2>Insurance</h2>
                    </div>
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Primary Insurance Company</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.primaryInsuranceCompanyName}}>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Primary Insurance CarrierId</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.primaryInsuranceCarrierId}}>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Primary Insurance InsuranceId</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.primaryInsuranceId}}>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Secondary Insurance Company</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.secondaryInsuranceCompanyName}}>
                        </div>
                    </div>


                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Secondary Insurance CarrierId</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.secondaryInsuranceCarrierId}}>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Secondary Insurance InsuranceId</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.secondaryInsuranceId}}>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Tertiary Insurance Company</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.tertiaryInsuranceCarrierId}}>
                        </div>
                    </div>


                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Tertiary Insurance CarrierId</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.tertiaryInsuranceCarrierId}}>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Tertiary Insurance InsuranceId</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.tertiaryInsuranceCarrierId}}>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-4 px-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Referring Doctor</label>
                            <input disabled type="text" class="form-control"
                                placeholder={{insuranceData.referringDoctor}}>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>