<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/varicose-veins.jpg" alt="" /></div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                             <div class="text-panel">Varicose<br />Veins</div>
                            <p class="banner-tagline">Your guide to treatment <br />for varicose veins</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections topProductsInfo aboutbgfirst">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-panel">
                        <div class="center-panel">
                            <h2 class="large-heading-font-think">More than 50% of<br> women and 40% of men</h2>
                            <p class="exlarge">in the United States <br>suffer from vein disease.</p>
                            <p><strong>Varicose veins, or enlarged, twisted veins,
                                    affect</strong></p>


                            <div class="single-service">
                                <div class="entry-introduction">
                                    <ul class="list-unstyled advantages mb-0">
                                        <li><i class="fas fa-check"></i> Nearly 50% of people who are over the age of 50</li>
                                        <li><i class="fas fa-check"></i> Pregnant women</li>
                                        <li><i class="fas fa-check"></i> Those with occupations that require long periods of standing</li>
                                        <li><i class="fas fa-check"></i> Those with a medical history of vein problems</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="service-right-panel">
                                <p>Varicose vein symptoms can worsen over
                                    time and in severe cases, can lead to
                                    swollen ankles, skin discoloration and
                                    ulceration.
                                </p>
                                <p>MVP’s expert vascular clinicians can use
                                    minimally invasive procedures to fix your
                                    veins without hospitalization and with
                                    minimal side effects.</p>
                                <p><strong>Complicated varicose veins, or chronic venous disease, can often appear like twisted, bulging red or blue ropes that are swollen and raised above the skin surface.</strong>
                                <p>Varicose veins are found predominantly on the legs — backs of knees, backs of calves or the inside of the leg. During pregnancy, varicose veins can also occur in the vulva.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections blueboxrounded">
    <div class="container-custom">
        <div class="container">
            <div class="max-width-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-panel ">
                            <div class="center-panel">
                                <p><strong>These enlarged veins cause painful symptoms including:</strong></p>
                                <div class="single-service">
                                    <div class="entry-introduction">
                                        <ul class="list-unstyled advantages mb-0">
                                            <li><i class="fas fa-check"></i> Bruising</li>
                                            <li><i class="fas fa-check"></i> Burning</li>
                                            <li><i class="fas fa-check"></i> Throbbing</li>
                                            <li><i class="fas fa-check"></i> Tiredness</li>
                                            <li><i class="fas fa-check"></i> Heaviness in the legs</li>

                                        </ul>
                                        <p class="mb-0">When left untreated, varicose veins have a dire effect on your quality of life.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="text-image-section">
                                    <div class="info-panels">
                                        <div class="image-panel"><img src="assets/images/service-rounded-img.png" alt="" class="img-fluid" /></div>
                                        <div class="text-panel"><strong>One-Way Valve</strong> <span>(good blood flow)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="text-image-section">
                                    <div class="info-panels">
                                        <div class="image-panel"><img src="assets/images/service-rounded-img2.png" class="img-fluid" alt="" /></div>
                                        <div class="text-panel"><strong>Two-Way Valve</strong> <span>(bad blood flow)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections reverse bgboxroundedabs lightbg">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/vericose-large-img-3.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2 class="large-heading-font">What Causes Varicose Veins?</h2>
                    <p>Varicose veins are caused by unhealthy or
                        weakened valves inside the veins. Vein valves
                        become damaged from natural stretching or weaken from the pressure of blood flowing through.
                    </p>
                    <p>If the valves become weak, blood can collect
                        in your legs and pressure builds up, causing the veins to become large, twisted and weak. </p>
                    <div class="signature-block"><a class="btn btn--primary btn-line btn-line-after" [routerLink]="['/home/contact']"><span>Request A Consultation Near You</span><span class="line"> <span></span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections vericose-veins-section-two-col">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel-customize order2">
                <div class="text-image-sections">
                    <div class="info-panels">
                        <div class="image-panels"><img src="assets/images/before-vericose.png" alt="" class="img-fluid" /></div>
                        <div class="text-panels"><strong>Before</strong><br> Varicose <span>Veins Treatment</span></div>
                    </div>
                </div>
                <div class="text-image-sections">
                    <div class="info-panels">
                        <div class="image-panels"><img src="assets/images/after-vericose.png" class="img-fluid" alt="" /></div>
                        <div class="text-panels"><strong>After</strong><br>Varicose <span>Veins Treatment</span></div>
                    </div>
                </div>
            </div>
            <div class="text-panel order1">
                <div class="center-panel">
                    <h2 class="large-heading-font">Treatment</h2>
                    <div class="single-service">
                        <p>At MVP, we bring our full range of medical capabilities and service excellence to every patient and every visit at each of our nationwide centers. </p>
                        <p>When you visit one of our freestanding, outpatient vascular centers for varicose veins treatment, you will experience an easy scheduling process and meet with a team of medical professionals dedicated to providing you with excellent outcomes and a quick recovery.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections reverse lightbg vericose-text-banner">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/vericose-large-img-2.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2 class="large-heading-font">You CAN remove your varicose veins.</h2>
                    <p>Our board certified vascular and interventional
                        physicians have a deep understanding of vein
                        problems and are specially trained in treating
                        venous insufficiency leading to complicated
                        varicose veins. </p>
                    <p>The vein specialists at MVP have treated
                        thousands of patients nationwide who are
                        suffering from painful varicose veins. </p>
                    <p>In specific, our physicians are known for
                        successfully treating patients whose varicose
                        veins returned after unsuccessful treatment
                        elsewhere.</p>
                    <p>If your condition is severe, rest assured, physicians
                        at MVP are leaders in the diagnosis and treatment
                        of vein disease and offer minimally invasive
                        varicose vein treatments in a safe, comfortable
                        outpatient setting.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<div class="contact-info contactus-page contactblueSection" id="contact">
    <help-form></help-form>
</div>