<section class="privacy_background pt-0">
    <div class="container mt-6">
        <div class="active_date">Effective date:  April 4, 2022 </div>
        <div><h4 class="text-center mt-1">WEBSITE PRIVACY POLICY
            <hr class="mt-1">
        </h4></div>
        <h6 class="text-center header_911">IF YOU ARE HAVING A MEDICAL EMERGENCY, PLEASE CALL 9-1-1.</h6>
        <p>
            This Privacy Policy applies to information that may be collected when you browse and interact with the online
            pages
            of the MVP (Mobile Vascular Physicians) web domain, <a href="https://www.mvpmedgroup.com/" target="_blank"><u>mvpmedgroup.com</u></a> (the “<b>Website</b>”), which includes any apps we
            may
            provide that substantially duplicate Website functionality. By using the Website, you accept and agree to this
            Privacy Policy. If you do not want to agree to these Terms of Use, you must not access, use or submit any of
            your
            information on the Website.
        </p>
        <p>
            NOTE: This Privacy Policy does not apply to the protected health information of MVP patients under HIPAA, even
            if
            you use a patient portal accessible through the Website to interact with your medical file. Your health
            information
            is governed by our HIPAA notice of privacy practices, which we provide to our patients as required by HIPAA, and
            you
            may request a copy by contacting us.
        </p>
        <p>
            <b> If you are a California resident, then the <u>Supplement for California Residents</u> below provides you
                additional
                disclosures about our collection and use of your personal information.</b>
        </p>
        <div>
            <h6>Collection of Personal Information</h6>
            <p><b>Personal information</b> means any information that can be linked to an identifiable individual, including
                first and
                last name, email address, a home, postal or other physical address, other contact information, title, birth
                date,
                gender, occupation, industry, personal interests, medical conditions or other information.</p>
            <p>
                In the past 12 months, MVP has collected the following categories of personal information for Website
                visitors. Each
                of these categories may also have been shared with service providers for a business purpose (see below,
                Information
                Sharing and Disclosure):
            </p>
    
            <div>
                <ul class="ml-5">
                    <li><u>Personal identifiers:</u> Name, email address, address, and other contact information.</li>
                    <li><u>Protected classification identifiers:</u> Age, birth date, gender.</li>
                    <li><u>Phone number.</u></li>
                    <li><u>Professional or employment history</u> and <u>Education information.</u> If you apply for a job with MVP, then
                        we may collect
                        the information if you provide it to us.</li>
                    <li><u>Internet and online activity:</u> We may log your IP address (the Internet address of your computer) to
                        give us an idea of which part of our website you visit and how long you spend there. However, we do
                        not link your IP address to any personal information unless you have logged in to our website. Like
                        many other commercial websites, the MVP website may use a standard technology called a "cookie" to
                        collect information about how you use the site. Please see Cookies and Tracking Information below
                        for more information. </li>
                    <li><u>Inferences.</u> We may infer information from other data we receive about you, such as your geographic
                        location from
                        your device IP address, or your interests from the pages that you view on our Website.</li>
                </ul>
            </div>
    
    
        </div>
        <div>
            <h6>Sources of Personal Information</h6>
            <p>
                We may collect your personal information from the following sources and activities:
            </p>
            <ul class="ml-5">
                <li><u>From your internet-connected devices:</u> If you browse our website without registering an account or
                    submitting online forms, then we do not collect information such as name or email. However, our systems
                    may collect data that internet-connected devices transmit when they connect to our website. Please see
                    the “Internet and online activity” bullet point below.</li>
                <li><u>From you, when you create an account:</u> If you register an account with us, then we will collect the
                    information you provide when creating the account, including user name, first and last name, contact
                    information, and any other information that you provide. We may also maintain a record of pages of the
                    Website that you visit while logged into your account, to improve our site design as well as our
                    products and services.</li>
                <li><u>From you, when you send us information:</u> If you use our online forms to communicate with us, or if you
                    call or email us with questions or comments, then we may collect any information that you transmit to us
                    in these interactions. MVP collects personal information when you register with MVP for an appointment,
                    for an MVP Patient Portal account (if applicable), or when you submit your information to MVP for any
                    other reason.</li>
                <li><u>From social media interactions:</u> If you interact with our social media pages, such as Facebook, Instagram
                    and LinkedIn, we may save information about that interaction, including information that you make
                    available to users of that platform. </li>
                <li><u>From job applications:</u> If you use an external site such as Indeed.com to apply for a position with MVP,
                    then we may retain the application information that you provide for our business purposes and to comply
                    with applicable laws. </li>
                <li><u>When others provide it to us:</u> If someone provides us your information, then we may retain that as part
                    of the interaction with that person.</li>
                <li><u>From our service providers and business partners:</u> When you interact with service providers and business
                    partners who work with MVP, they may collect your information on our behalf and provide it to us. </li>
            </ul>
        </div>
        <div>
            <h6>Purposes of Collection and Use</h6>
            <p>We may collect and use your personal information for the following purposes and uses: </p>
            <ul class="ml-5">
                <li>To provide you with the Website and its functionality, including permitting you to register an account
                    with us, take full advantage of the services we provide through our Website, and fulfill your requests.
                </li>
                <li>To develop new products or services, enhance existing offerings, and market our offerings to you,
                    including through the use of third party advertising networks (as detailed below).</li>
                <li>Administer our Website and systems, analyze Website and service usage, monitor traffic and usage
                    patterns, and improve our site design.</li>
                <li>If you are a job applicant, we will review your personal information and use it to determine your
                    suitability for a position with us and to comply with applicable laws and practices, which may include
                    follow up communications, interviews, and maintaining a file of applicant data.</li>
                <li>To investigate complaints or violations of our policies; to monitor, detect, protect against and
                    investigate fraud, theft, threats to any individuals, or other illicit, illegal or potentially harmful
                    activity. </li>
                <li>To comply with laws, meet our legal obligations, comply with subpoenas, court orders, and other
                    government or agency requests; to establish our legal rights; to protect our property, rights and
                    personnel; and all other similar purposes. </li>
                <li>Aggregate or anonymize your information by removing identifiers. Once identifiers are removed from your
                    data, it is no longer personal information and will not be governed by this Privacy Policy. </li>
            </ul>
            <p>Some of the services you may request from the MVP Website may require a login and a password. The use of
                those web pages, and the information or programs downloadable from those sites, may be governed by a written
                agreement between that affiliated site and MVP. Your personal information may be retained by MVP to verify
                compliance with the agreement, log software licenses granted, or to track software downloaded from those
                pages.</p>
            <p>We do not collect personal information for the purpose of reselling or distributing that information to third
                parties for unrestricted use. However, please see the Information Sharing and Disclosure and Sale of
                Information sections below for additional details regarding third parties that may receive or collect your
                information when you interact with the Website.</p>
            <p>If we believe that we have collected personal information in error or that any information provided to us may
                expose MVP or any individual to any risk, we may delete such information, without any responsibility to you
                or anyone for such deletion.</p>
        </div>
        <div>
            <h6>Information Sharing and Disclosure</h6>
            <p>MVP may send your personal information to other companies or people under any of the following circumstances:
                with your consent or upon your request; to provide the product or service you have requested; to companies
                who work on behalf of MVP to provide a product or service to you; to analyze use of our website, or to keep
                you up to date on the latest product announcements, software updates, special offers or other information we
                think you'd like to hear about either from us or from our business partners. We will also disclose your
                personal information if required to do so by law, to enforce our Terms of Use, or in urgent circumstances,
                to protect personal safety, the public or our websites. If MVP business units are sold or acquired by
                another party, then the acquiring entity may obtain access, possession and control of the personal
                information we collected. </p>
        </div>
        <div>
            <h6>Notification</h6>
            <p>This Privacy Policy is your notice that MVP collects your personal information. We may also remind you at the
                point of collection of our collection and purposes for collecting your information.</p>
        </div>
        <div>
            <h6>Cookies and Tracking Technologies </h6>
            <p>A cookie is a small data file that certain web sites write to your hard drive when you visit them. A cookie
                file can contain information such as a user ID that the site uses to track the pages you've visited, but the
                only personal information a cookie can contain is information you supply yourself. A cookie can't read data
                off your hard disk or read cookie files created by other sites. Some parts of MVP's website use cookies to
                understand user traffic patterns. We do this in order to determine the usefulness of our website information
                to our users and to see how effective our navigational structure is in helping users reach that information.
            </p>
            <p>MVP may partner with third party advertising networks to support our marketing activities. These advertising
                networks may recognize your visit to the Website by accessing their own cookies (third party cookies) stored
                on your computer. MVP does not receive any information or history associated with these cookies, but we may
                use the advertising network to market our products and services to you. If you desire to learn more about
                third party advertising networks, cookies, and opting out of ad network tracking, please take advantage of
                the ad choice tools provided to you. Here are two resources:</p>
            <ul class="ml-5">
                <li>DAA (Digital Advertising Alliance) <a href="http://optout.aboutads.info/" target="_blank"><u>http://optout.aboutads.info/</u></a>
                </li>
                <li>
                    NAI (Network Advertising Initiative) <a href="https://optout.networkadvertising.org/" target="_blank"><u>https://optout.networkadvertising.org/</u></a>
                </li>
            </ul>
            <p>If you prefer not to receive cookies while browsing our website, you can set your browser to warn you before
                accepting cookies and refuse the cookie when your browser alerts you to its presence. You can also refuse
                all cookies by turning them off in your browser. If you turn of all cookies, then certain Website features
                and functionality that require cookies may not work for you. You do not need to have cookies turned on to
                use/navigate through many parts of our website, except access to certain of MVP's web pages require a login
                and password.</p>
        </div>
        <div>
            <h6>Account and Password Security</h6>
            <p>For certain Website features and content, we may ask you to register an account with us and choose a password
                to access your account. Your MVP account information will be accessible to anyone with user login and
                password. It is your sole responsibility to maintain the confidentiality, security and secrecy of your
                password, and MVP will not be responsible if you do not secure your password or choose a strong password.
                MVP strives to safeguard the security of the data you send us with physical, electronic, and managerial
                procedures to the extent required by law. In certain areas of our websites, MVP may use industry-standard
                SSL-encryption to enhance the security of data transmissions. While we strive to protect your personal
                information, we cannot ensure or guarantee the security of the information you transmit to us because of the
                nature of internet and online communications. We urge you to take every precaution to protect your personal
                data when you are on the Internet. Change your passwords often, use a combination of letters and numbers,
                and make sure you use a secure browser.</p>
        </div>
        <div>
            <h6>Children and Privacy</h6>
            <p>Our websites do not target and are not intended for use by children under the age of 13. MVP does not
                knowingly solicit personal information from children under the age of 13 or send them requests for personal
                information.
            </p>
        </div>
        <div>
            <h6>Third Party Websites</h6>
            <p>MVP’s Website may contain links to other sites on the Internet. MVP does not transmit information we
                collected about you to those websites, and MVP is not responsible for their privacy practices. If you leave
                the Website, then your information may be governed by the privacy policy and terms and conditions of a third
                party, which may be a service provider of MVP. It is your sole responsibility to learn about the privacy
                policies of companies that run other websites you may visit. For example, if you are applying for a career
                with MVP, then your information may be processed by a third party such as Indeed.com, which may use your
                information according to their privacy policy. It is your responsibility to read and agree with the
                applicable privacy policy before visiting any external sites and providing your personal information. </p>
        </div>
        <div>
            <h6>Do Not Track signals</h6>
            <p>Because there is no standard understanding of what a “Do Not Track” browser signal is supposed to mean, our
                website does not respond to those signals in any particular way. To avoid tracking cookies, you may use an
                “incognito”, “private” or similar browser window to browse the Internet without tracking cookies. However,
                the software manufacturer of your browser may still track your activity. Please check with Google,
                Microsoft, Mozilla, DuckDuckGo or other browser providers for more information.</p>
        </div>
        <div>
            <h6>Changes to This Privacy Policy</h6>
            <p>We may revise and update our Terms of Use and Privacy Policy from time to time in our sole discretion or as
                may be required by law. All changes are effective immediately when we post them, and apply to all access to
                and use of this website thereafter. Your continued use of the Website following the posting of revised Terms
                of Use or Privacy Policy means that you accept and agree to the changes. You are expected to review this
                page from time to time so you are aware of any changes, as they are binding on you. For substantial changes
                in the way we use your personal information, we may post a notice on the website, email you, or use other
                means to contact you about the changes.</p>
        </div>
        <div>
            <h6>Questions or Suggestions</h6>
            <p>If you have questions or concerns about our collection, use, or disclosure of your personal information,
                please contact us using any of the following methods:</p>
            <ul class="ml-5">
                <li>Call our offices at (516) 717-1839 during regular East Coast business hours.
                </li>
                <li>By email to <a href="mailto:fmedina@mvpmedgroup.com"><u>fmedina@mvpmedgroup.com</u></a>. Please allow at least five business days to reply.
                </li>
                <li>By postal mail to: Mobile Vascular Physicians, ATTN: Privacy Officer, 120 Hicksville Rd., Bethpage, NY
                    11714.</li>
            </ul>
            <h4>SUPPLEMENT FOR CALIFORNIA RESIDENTS: Disclosures & Rights</h4>
        </div>
        <div>
            <h6><i>California Residents Only</i></h6>
            <p>This section applies to you only if you are a resident of California.</p>
            <h6>California Rights</h6>
            <p>You have the following rights concerning your personal information:
            </p>
            <ul class="ml-5">
                <li>Right to be informed about the (1) types of personal information we collect about you, (2) specific
                    pieces
                    of information that we have collected about you, (3) sources and purposes of the collection, and (4)
                    third
                    parties that receive your data.
                </li>
                <li> Right to request deletion of your data.
                </li>
                <li> Right to know to whom we’ve sold or disclosed your data.
                </li>
                <li>Right to opt out of the sale of your data, if we sell it. (See below.)
                </li>
                <li>Right against discrimination if you do not provide us your data, unless the goods and services we
                    provide
                    you are related to the value of the data you provide us.</li>
            </ul>
        </div>
        <div>
            <h6><i>Exercising Your Rights</i></h6>
            <p>You may exercise your rights as a California resident, review and request changes to the personal information
                we collected about you, and contact us for more information about our privacy practices by using the
                information provided above under Contact Us. </p>
            <h6><i>Verification Process</i></h6>
            <p>You may submit your California rights requests using any of the methods above. However, for certain requests,
                California law permits or requires us to take additional steps to verify the identity and authority of the
                individual making certain requests information. This is so we can protect your privacy and data. Depending
                on the request or the sensitivity of the request, we may ask that you provide two, three or more pieces of
                personal information that matches information in our records, so that we may confirm your identity prior to
                processing your request. If you do not or cannot provide such pieces of information, then we may deny your
                request, modify our response, or take any action permitted or required by law. </p>
        </div>
        <div>
            <h6><i>Authorized Agent</i></h6>
            <p>If you wish to submit a California rights request through an authorized agent, then you may designate your
                authorized agent in writing by contacting us using any of the methods above and providing the following
                information:</p>
            <ul class="ml-5 num_ul">
                <li>Your full name and date of birth
                </li>
                <li>Current address and telephone number
                </li>
                <li>Name of the authorized agent
                </li>
                <li> State whether the requested information should be delivered to the agent or to you. Provide delivery
                    instructions.
                </li>
                <li>State the types of requests that you authorize your agent to make, for example, Request to Know, Request
                    to Delete, or Request to Opt-Out of Sales of Personal Information.
                </li>
                <li>Sign and date the agent authorization.</li>
            </ul>
            <p>If any of the above information is missing or cannot be verified, then we may request the information before
                processing your request. We may request additional verification information depending on the nature or
                sensitivity of the request. If we do not receive such additional verification, then we may deny your
                request, modify our response, or take any action permitted or required by law. </p>
                <h6><i>Third Party Marketing</i> </h6>
                <p>We do not disclose personal information to third parties knowingly for their direct marketing purposes.</p>
                <h6><i>Sale of Information</i></h6>
                <p>We do not engage in activity that a normal consumer would view as a ‘sale’ of personal information:  we do not take your collected information and sell it to unrelated third parties for money, to use for purposes that you did not intend.  However, because legal definitions and regulatory guidance continue to change, we may update our website and this Privacy Policy at any time to respond to such changes, provide additional disclosures and rights.   </p>
        <h6><i>No Sale of Minor Information</i></h6>
        <p>We do not have actual knowledge of any sale of the personal information of consumers under 16 years of age.   
    
            </p>
            <p>This Privacy Policy may not be used or reproduced without our prior written consent.</p>
        
            </div>
    
    </div>
    
</section>
<common-footer></common-footer>