<!-- <section class="about about-4 greylightbg" id="about-4" style="margin-bottom: 300px;"> -->
<section class="about about-4 greylightbg" id="about-4">
    <div class="container">
        <div class="avatars-holder">
            <div class="block-top">
                <div class="row">
                    <div class="col-12 col-lg-2 wow fadeInDown">
                        <div class="avatar avatar-1"><img src="assets/images/about/testimonials-img-1.jpg"
                                alt="image" /></div>
                    </div>
                    <div class="col-12 col-lg-5 wow fadeIn">
                        <div class="avatar avatar-2 bg-overlay bg-overlay-theme quote-section">
                            <div class="avatar-content">
                                <div class="avtar-flex-block">
                                    <h2>TESTIMONIALS</h2>
                                    <p>What Doctors are saying about us</p>
                                </div>
                                <div class="testimonails-quote"><img src="assets/images/about/quotes.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 wow slideInDown">
                        <div class="avatar avatar-3"><img src="assets/images/about/testimonials-img-2.jpg"
                                alt="image" /></div>
                    </div>
                </div>
            </div>
            <div class="block-bottom">
                <div class="row">
                    <div class="col-12 offset-lg-1 col-lg-3 wow fadeInLeft">
                        <div class="avatar avatar-5"><img src="assets/images/about/testimonials-img-4.jpg"
                                alt="image" /></div>
                    </div>
                    <div class="col-12 col-lg-5 wow slideInUp">
                        <div class="avatar avatar-6 pos-rel"><img src="assets/images/about/testimonials-img-5.jpg"
                                alt="image" />

                            <div class="testimonails-quote-rounded"><img src="assets/images/about/qutoes-circle.svg"
                                    alt="" /></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 wow slideInRight">
                        <div class="avatar avatar-4 pos-rel"><img src="assets/images/about/testimonials-img-3.jpg"
                                alt="image" />
                            <div class="testimonails-quote-rounded-top"><img src="assets/images/about/qutoes-circle.svg"
                                    alt="" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .avatars-holder-->
    </div>
    <!-- End .container-->
</section>

<div class="grey-bg-bottom"></div>



<section class="testimonial testimonial-3 bg-overlay bg-overlay-theme2" id="testimonial-4">
    <div class="bg-section"> <img src="assets/images/background/2.jpg" alt="background-img" /></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading heading-2 text--center">
                    <h2 class="heading-title">Hear The Inspiring Stories Of<br />
                        Our Patients.</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-lg-12">
                <div class="testimonials-holder">
                    <div class="carousel owl-carousel custom-carousel" data-slide="1" navtext="" data-slide-rs="1"
                        data-slide-ms="1" data-autoplay="false" data-nav="true" data-dots="false" data-space="0"
                        data-loop="false" data-speed="400" autoplaytimeout="3000">
                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Best Patient Care!</h4>
                                    <p>“Working at MVP has been one of the best experiences I could
                                        have had during my year off of clinical medicine. I have never
                                        worked for a company with such value in teamwork, efficiency, and
                                        SPIRIT. MVP has the best patient care I’ve ever seen in a nursing
                                        home environment, and that attitude trickles all the way from the
                                        top to the bottom. The leadership/mentorship here is a force to be
                                        reckoned with and the company’s stats reflect it. Each and every
                                        person here is a gem and it has been a treat and a treasure to be
                                        employed here.”</p>
                                    <div class="testimonials-name">
                                        <h6>Dr.&nbsp;Cassandra Iton, MD</h6>
                                        <p>Clinical Documentation Specialist</p>


                                        <p> <span></span></p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Treat you like Family!</h4>
                                    <p>“I believe that people matter, and I try to align myself with people
                                        and organizations that feel the same. In my time here at Mobile
                                        Vascular Physicians (MVP), I can proudly say that MVP values
                                        people. From their employees to patients, they treat you like family
                                        and pride themselves as being facilitators of health and growth.
                                        Here at MVP we support each other and often challenge
                                        employees to think outside the box with the goal of providing the
                                        best patient care possible. MVP hopes to create a standard where
                                        patients, families, facilities, and providers work together for the
                                        good of the individual. This means that we value communication,
                                        require teamwork, and strive for excellence. I am proud to be an
                                        MVP employee, I take pride in the fact that my daily contributions
                                        often change the lives and well-being of those around me.”</p>
                                    <div class="testimonials-name">
                                        <h6>Dr.&nbsp;Nashua Wisdom</h6>
                                        <p>Clinical Documentation Specialist</p>


                                        <p> <span></span></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Seamless!</h4>
                                    <p>“As the Administrator of a Skilled Nursing Facility, it is my duty to surround
                                        myself with a group of talented team members and ensure the best possible care
                                        for our residents. When it comes to clinical consultants, the fields of
                                        Dentistry, Psychiatry, and Dermatology often come to mind. After having the
                                        pleasure of working with Mobile Vascular Physicians, it is clear to me that
                                        Vascular should also be regarded as an essential in-house specialty - for any
                                        Administrator that is looking to provide care that is not only good, but
                                        exceptional.​



                                        To the non-clinician, the practical need for many specialties might seem a
                                        mystery. With MVP, the need is clear - vascular specialists ensure efficient
                                        blood-flow throughout the body. Good blood-flow allows the body to operate
                                        efficiently and ensures that the proper nutrition is distributed throughout the
                                        body. Poor blood-flow can be harmful. Wounds, blood clots and other ailments can
                                        be detrimental to anyone, but especially to the vulnerable population in long
                                        term care facilities.​



                                        Many clinical specialists divide their time between, acute care, subacute care,
                                        and a private practice. MVP was created for long term care and understands its
                                        unique set of challenges. By ensuring efficient blood-flow, MVP takes a
                                        proactive approach by mitigating the risk of wound development, rather than
                                        waiting to treat after the issue arises. Most treatments happen on-site,
                                        reducing the need for out-patient visits which often result in preventable
                                        hospitalizations. When out-patient appointments are necessary, MVP sends an aide
                                        to travel with the resident thereby avoiding the need for the facility to pull
                                        staff from the units to be used as a transport aide.



                                        Dealing with the MVP team is seamless. They are respectful and responsive, and
                                        in many cases, able to make special accommodations to assist with the
                                        ever-changing challenges of long-term care. I have had an excellent experience
                                        with Mobile Vascular Physicians and would certainly recommend them to my fellow
                                        Administrators"</p>
                                    <div class="testimonials-name">
                                        <h6>Yosef Spierer</h6>
                                        <p>Administrator</p>


                                        <p> <span></span></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Responsive & Knowledgeable</h4>
                                    <p>"As a medical director of multiple long term/short term facilities, my goal is to
                                        be able to

                                        provide the best care to my residents. I have been able to achieve and surpass
                                        this goal with

                                        the help of Mobile Vascular Physicians's services. They are responsive,
                                        knowledgeable, and

                                        treat my patients and their families with care and compassion. Thank you, MVP"
                                    </p>
                                    <div class="testimonials-name">
                                        <h6>Ronald Gross</h6>
                                        <p>MD</p>


                                        <p> <span></span></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Exceeded My Expectations!</h4>
                                    <p>"I highly recommend the MVP team for all your vascular and interventional service
                                        needs

                                        As a physician, I have had the pleasure of working with the entire MVP team at
                                        my nursing

                                        home facility and I have to say that they far exceeded my expectations. The
                                        providers are

                                        always available to render services that range from VT evaluations to G-tube and
                                        Mid line

                                        insertions. In emergency situations, the managing team (especially Alyssa
                                        Stevenson)

                                        responds within minutes and go above and beyond to ensure patients' needs are
                                        addressed

                                        Finally, the MVP team managers are in constant communication with all physicians
                                        and

                                        nursing home staff to ensure that new patients are evaluated, and no patient is
                                        lost to follow

                                        up. For this reason and many more, I highly recommend their services for all
                                        your vascular

                                        needs"</p>
                                    <div class="testimonials-name">
                                        <h6>Dr. Chinelo Onochie</h6>
                                        


                                        <p> <span></span></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>True Asset</h4>
                                    <p>"I would like to personally thank you for all your hard work in helping orchestrate

                                        phenomenal work done by Mobile Vascular Physicians in our facility. I stress "our" because
                                        
                                        you and your team are a true asset to our team. You are always available for us and are
                                        
                                        always willing to find ways to help accommodate our requests whether it is, operational,
                                        
                                        clinical, or none of the above. It is truly a pleasure to write this letter of recommendation
                                        
                                        and I hope we can maintain our existent relationship amongst our teams.
                                    </p>
                                    <div class="testimonials-name">
                                        <h6>Emanuel Lichtik</h6>
                                        <p>Nursing Home Administrator</p>


                                        <p> <span></span></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="custom-navs"><a class="prev" href="javascript:void(0)" data-hover=""><span class="line"> <span> </span></span><span>previous</span></a><a class="next" href="javascript:void(0)" data-hover=""><span>next</span><span class="line"> <span> </span></span></a></div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="testimonial testimonial-3" id="testimonial-4" style="background-color: #0e465f;">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading heading-2 text--center">
                    <h2 class="heading-title">Hear The Inspiring Stories Of<br>
                        Our Patients.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="testimonial-thumbs">
                    <div class="testimonial-thumb" data-hover="">
                        <div class="thumb-img"> <img src="assets/images/testimonial/testimonials-img-1.jpg"
                                alt="Testimonial Author"><img class="quotes-img"
                                src="assets/images/testimonial-quote-home.svg" alt=""></div>
                        <div class="thumb-body">
                            <h6>Ronald Gross</h6>
                            <p>MD</p>
                        </div>
                    </div>
                    <div class="testimonial-thumb" data-hover="">
                        <div class="thumb-img"> <img src="assets/images/testimonial/testimonials-img-2.jpg"
                                alt="Testimonial Author"><img class="quotes-img"
                                src="assets/images/testimonial-quote-home.svg" alt=""></div>
                        <div class="thumb-body">
                            <h6>hira Bree</h6>
                            <p>RN</p>
                        </div>
                    </div>

                    <div class="testimonial-thumb" data-hover="">
                        <div class="thumb-img"> <img src="assets/images/testimonial/testimonials-icon.png"
                                alt="Testimonial Author"><img class="quotes-img"
                                src="assets/images/testimonial-quote-home.svg" alt=""></div>
                        <div class="thumb-body">
                            <h6>Mayer Spilman</h6>
                            <p>LNHA, Regional Administrator</p>
                        </div>
                    </div>

                    <div class="testimonial-thumb active" data-hover="">
                        <div class="thumb-img"> <img src="assets/images/testimonial/testimonials-icon.png"
                                alt="Testimonial Author"><img class="quotes-img"
                                src="assets/images/testimonial-quote-home.svg" alt=""></div>
                        <div class="thumb-body">
                            <h6>Yosef Spierer</h6>
                            <p>Administrator</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-12 col-lg-7 offset-lg-1">
                <div class="testimonials-holder">
                    <div class="carousel owl-carousel custom-carousel owl-loaded owl-drag" data-slide="1"
                        data-slide-rs="1" data-autoplay="true" data-nav="false" data-dots="false" data-space="0"
                        data-loop="false" data-speed="800">









                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-1590px, 0px, 0px); transition: all 0.3s ease 0s; width: 2121px;">
                                <div class="owl-item" style="width: 530.162px;">
                                    <div class="testimonial-panel">
                                        <div class="testimonial-body">
                                            <div class="testimonial-content">
                                                <h4>Responsive &amp; Knowledgeable</h4>
                                                <p>“As a medical director of multiple long term/short term facilities,
                                                    my goal is to be able to provide the best care to my residents. I
                                                    have been able to achieve and surpass this goal with the help of
                                                    Mobile Vascular Physicians’s services. They are responsive,
                                                    knowledgeable, and treat my patients and their families with care
                                                    and compassion. Thank you, MVP"</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 530.162px;">
                                    <div class="testimonial-panel">
                                        <div class="testimonial-body">
                                            <div class="testimonial-content">
                                                <h4>Next Dimension of Bedside Care</h4>
                                                <p>“Every member of the medical and administrative staff at Mobile
                                                    Vascular Physicians is incredibly accommodating, reliable, patient,
                                                    and friendly. Their practice is an overall pleasure to work with.
                                                    Their care is top notch, and it is extremely gratifying to see
                                                    patients experience relief from chronic conditions after receiving
                                                    treatment from MVP."</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 530.162px;">
                                    <div class="testimonial-panel">
                                        <div class="testimonial-body">
                                            <div class="testimonial-content">
                                                <h4>Next Dimension of Bedside Care</h4>
                                                <p>“Mobile Vascular Physicians has brought the LTC industry a whole new
                                                    dimension of bedside vascular care which is delivered in a
                                                    compassionate manner. From their customer service representatives to
                                                    their interventional radiologists and vascular surgeons, our
                                                    experience has been phenomenal. We appreciate the level of
                                                    dedication and services they provided to our residents."</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 530.162px;">
                                    <div class="testimonial-panel">
                                        <div class="testimonial-body">
                                            <div class="testimonial-content">
                                                <h4>Seamless!</h4>
                                                <p>“As the Administrator of a Skilled Nursing Facility, it is my duty to
                                                    surround myself with a group of talented team members and ensure the
                                                    best possible care for our residents. When it comes to clinical
                                                    consultants, the fields of Dentistry, Psychiatry, and Dermatology
                                                    often come to mind. After having the pleasure of working with Mobile
                                                    Vascular Physicians, it is clear to me that Vascular should also be
                                                    regarded as an essential in-house specialty - for any Administrator
                                                    that is looking to provide care that is not only good, but
                                                    exceptional."</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"></div>
                        <div class="owl-thumbs"></div>
                    </div>
                    <div class="custom-navs"><a class="prev" href="javascript:void(0)" data-hover=""><span class="line">
                                <span> </span></span><span>previous</span></a><a class="next" href="javascript:void(0)"
                            data-hover=""><span>next</span><span class="line"> <span> </span></span></a></div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="counter-main">
    <div class="counter-section counter-item">
        <div class="section">
            <div class="coutertext counter-content"><span class="count">{{this.locationCount}}</span> <b>Locations
                    Served</b></div>
        </div>
        <div class="section">
            <div class="coutertext counter-content"><span class="count">{{this.patientCount}}</span><i>+</i><b> Patients
                    Served</b>
            </div>
        </div>
        <div class="section">
            <div class="coutertext counter-content"><span class="count">81</span> <b>Certifications</b></div>
        </div>
    </div>
</section>
<common-footer></common-footer>