<section class="banner-section-bio">
  <div class="container">
  <div class="row">
    <div class="bio-col">

      <div class="col-12 col-lg-12">
          <div class="bio-image-section">
       <div class="image-panel"><img src="assets/images/team/Iftikhar-ahmad-sm.jpg" alt=""></div>
      <div class="banner_text">
          <div class="center-panel eric-text">
            
              <div class="text-panel">Dr. Iftikhar Ahmad MD</div>
              <h4>Vascular and Interventional Radiologist</h4>
              <p>Dr. Iftikhar Ahmad has over 25 years of 
experience both in academic and private 
practice. He held the Chair position at 
department of radiology of University of 
Pittsburgh Medical Center and was awarded 
“Fellowship” by the Society of Interventional 
Radiology in recognition of his teaching and 
research. Dr. Ahmad has contributed over 20 
articles in peer reviewed journals and 
multiple book chapters.</p>
          </div>
      </div>
               <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div></div>
        </div>
    </div>
        </div> 
      </div></section>
<section class="team-single team-single-standard teaminfosection">
  <div class="container"> 
    <div class="row"> 
        
      <div class="col-12 col-lg-12">
       
        <div class="entry-table"> 
          <table class="table table-striped">
            <tbody> 
              <tr> 
                <td>
                  <div class="content head">Education:  </div>
                </td>
                <td>
                 <div class="content head-list-right">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i> Bachelor of Arts, University of Peshawar, 
Pakistan </li>
                        <li><i class="fas fa-check"></i> Medical Bachelor and Bachelor of Surgery, 
University of Peshawar, Pakistan </li>
                        <li><i class="fas fa-check"></i> Member of College of Physicians and 
Surgeons of Pakistan </li>
                        <li><i class="fas fa-check"></i> Master of Business Administration, New York 
Institute of Technology </li>
                    </ul>
                    </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Residency:</div>
                </td>
                <td>
                  <div class="content head-list-right"><ul class="list-unstyled experties-list in-list"> 
                      <li><i class="fas fa-check"></i>  Residency Diagnostic Radiology, Aga Khan University, Karachi Pakistan. </li>
                      <li><i class="fas fa-check"></i>  Residency Diagnostic Radiology, State University of New York, Buffalo, New York. </li>
                    </ul></div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Speciality</div>
                </td>
                <td>
                  <div class="content head-list-right spe-list">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i>  Interventional Radiology </li>
                      <li><i class="fas fa-check"></i>  Diagnostic Radiology </li>
                      <li><i class="fas fa-check"></i>  Phlebology </li>
                      <li><i class="fas fa-check"></i> Aesthetic procedures</li>
                     
                    </ul>

                  </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Fellowship:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i> Fellowship Neuroradiology, State University of 
New York, Syracuse, New York.</li>
                        
                         <li><i class="fas fa-check"></i> Fellowship Interventional Radiology, State 
University of New York, Buffalo, New York.</li>
                    </ul>
                    </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Hospital and Clinic
                    Affiliations:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list chief-col"> 
                      <li><i class="fas fa-check"></i>  Indiana University, Assistant Professor of 
Radiology   </li>
                      <li><i class="fas fa-check"></i>  University of Pittsburgh, Associate Professor 
of Radiology </li>
                      <li><i class="fas fa-check"></i>  MedSpa, Owner and Medical Director </li>
                     
                    </ul>

                  </div>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
       
        
      </div>
    </div>
  </div>
</section>