<div class="main_container">
    <section class="banner">
        <div class="container">
            <h2 class="wow fadeInUp">
                WE DO IT BEST <br>
                BECAUSE IT'S <br>
                ALL WE DO.
            </h2>		
            <div class="banner-doc">
                <img src="assets/images/home-page-banner-doc.png" alt="" />
            </div>
        </div>
    </section>
    <section class="teaser-row">
        <div class="container">
            <div class="regular-teaser">
                <div class="image wow fadeInLeft">
                    <img src="assets/images/teaser1.png" alt="" />
                </div>
                <div class="text wow fadeInRight">
                    <h3>Expert Clinicians</h3>
                    <p>Our 35+ interventional radiologists, neurosurgeons, OBGYNs, vascular surgeons, and nursing staff are experts in their field. Many have worked in hospitals such as Beth Israel Medical Center, Mount Sinai, NYU, and Columbia and have received prestigious awards, been extensively published, and been invited to share their expertise at medical conventions worldwide. They bring their vast knowledge to each patient they treat. </p>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="teaser-row light-bg float-up even">
        <div class="container">
            <div class="regular-teaser">
                <div class="image wow fadeInRight">
                    <img src="assets/images/teaser2.png" alt="" />
                </div>
                <div class="text wow fadeInLeft">
                    <h3>Specialized & Experienced </h3>
                    <p>MVP Care clinicians have more experience with vascular treatment than the average hospital clinician. They've successfully treated thousands of cases just like yours - and that experience shows. When you come in, you're not just receiving vascular care. You're receiving vascular care from a specialized, experienced team. </p>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="teaser-row float-up">
        <div class="container">
            <div class="regular-teaser">
                <div class="image wow  fadeInLeft">
                    <img src="assets/images/teaser3.png" alt="" />
                </div>
                <div class="text wow fadeInRight">
                    <h3>Innovative, Not Invasive </h3>
                    <p>MVP Care is not a hospital, and we're proud of that.  Our work is centered on providing the best vascular care available. We care about you, your health, and your quality of life, which is why we're constantly innovating and introducing new, modern methods of non-invasive interventional treatment. </p>
                    
                    <p>The success rate of our out-patient procedures is the same as hospitals. But, instead of undergoing the unpleasantness of an overnight stay, you're treated in the relaxing comfort of an out-patient center. </p>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="teaser-row light-bg float-up even">
        <div class="container">
            <div class="regular-teaser">
                <div class="image wow fadeInRight">
                    <img src="assets/images/teaser4.png" alt="" />
                </div>
                <div class="text wow fadeInLeft">
                    <h3>A History Of Success</h3>
                    <p>MVP originally began in 2017 as a concierge vascular service for assisted living facilities and nursing homes. The elderly population is especially vulnerable to vascular disease, and their tentative health makes treatment even riskier. </p>
                    <p>In 2020, we took the experience and techniques we honed during complicated cases and began offering them to the general population. Now anyone can benefit from the high-class level of care MVP became known for.</p>
                </div>
            </div>
        </div>
    </section>
        
        
        
    </div>