<div class="col-md-12 p-0">
    <div class="col-md-4 px-1">
        <div class="form-group">
            <label for="sel1" class="font-weight-bold pb-2 text-normal">Select Location:</label>
            <select class="form-control p-1" id="sel1" name="locationList" [(ngModel)]="locationList">
  <option value="1">2160 Powell Ave The Bronx, NY 10462 USA</option>
  <option value="2">2174 Flatbush Ave Brooklyn, NY 11234 USA</option>
  <option value="3">366 Veterans Memorial Hwy Commack, NY 11725 USA</option>
  <option value="4">16 Sumner Pl 4th Floor Brooklyn, NY 11206 USA</option>
  <option value="5">Westchester County New York USA</option>
  <option value="6">76-65 Austin St Forest Hills, NY 11375 USA</option>
  <option value="7">33 S Wood Ave Iselin, NJ 08830 USA</option>
</select>
        </div>
    </div>
    <div class="col-md-12 px-0">
        <iframe width="100%" height="400" id="gmap_canvas" *ngIf="locationList==1" src="https://maps.google.com/maps?q=2160%20Powell%20Ave,%20The%20Bronx,%20NY%2010462,%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe>
        <iframe width="100%" height="400" id="gmap_canvas" *ngIf="locationList==2" src="https://maps.google.com/maps?q=2174%20Flatbush%20Ave,%20Brooklyn,%20NY%2011234,%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe>
        <iframe width="100%" height="400" id="gmap_canvas" *ngIf="locationList==3" src="https://maps.google.com/maps?q=366%20Veterans%20Memorial%20Hwy,%20Commack,%20NY%2011725,%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe>
        <iframe width="100%" height="400" id="gmap_canvas" *ngIf="locationList==4" src="https://maps.google.com/maps?q=16%20Sumner%20Pl%204th%20Floor,%20Brooklyn,%20NY%2011206,%20USA&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe>
        <iframe width="100%" height="400" id="gmap_canvas" *ngIf="locationList==5" src="https://maps.google.com/maps?q=Westchester%20County,%20New%20York,%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <iframe width="100%" height="400" id="gmap_canvas" *ngIf="locationList==6" src="https://maps.google.com/maps?q=76-65%20Austin%20St,%20Forest%20Hills,%20NY%2011375,%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe>
        <iframe width="100%" height="400" id="gmap_canvas" *ngIf="locationList==7" src="https://maps.google.com/maps?q=33%20S%20Wood%20Ave,%20Iselin,%20NJ%2008830,%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>

    <!-- <div class="col-md-3 col-lg-3 px-1" data-aos="fade-up">

        <div class=" mb-4">
            <div class="location-rows">
                <div class="mapouter">
                    <div class="gmap_canvas">

                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>