<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/service-banner-img-1.jpg" alt="" /></div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                            <div class="text-panel">Varicocele<br />Embolization</div>
                            <p class="banner-tagline">Your guide to treatment <br />for scrotal varicose veins</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="two-col-sections topProductsInfo">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="text-panel">
                        <div class="center-panel">
                            <h2 class="large-heading-font-think">10% of men have varicoceles</h2>
                            <p class="exlarge">(varicose veins <br>in the scrotum).</p>
                            <p>Varicoceles are small bulges of
                                blood that can't flow properly.
                                The lack of blood flow is usually
                                caused when the valves in the
                                scrotal veins malfunction</p>




                        </div>
                    </div>


                </div>

                <div class="col-md-7">

                    <div class="row">
                        <div class="col-6 col-md-6">


                            <div class="text-image-section">
                                <div class="info-panels">
                                    <div class="image-panel"><img src="assets/images/service-rounded-img.png" alt="" /></div>
                                    <div class="text-panel"><strong>One-Way Valve</strong> <span>(good blood flow)</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">


                            <div class="text-image-section">
                                <div class="info-panels">
                                    <div class="image-panel"><img src="assets/images/service-rounded-img2.png" alt="" /></div>
                                    <div class="text-panel"><strong>Two-Way Valve</strong> <span>(bad blood flow)</span></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>



    </div>
</section>




<section class="two-col-sections blueboxrounded">
    <div class="container-custom">
        <div class="container">
            <div class="max-width-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-panel ">
                            <div class="center-panel">
                                <p>Varicoceles are most prevalent in
                                    men ages 15-35. In extreme cases,
                                    varicoceles can lead to:</p>

                                <div class="single-service">
                                    <div class="entry-introduction">
                                        <ul class="list-unstyled advantages mb-0">
                                            <li><i class="fas fa-check"></i> Pain</li>
                                            <li><i class="fas fa-check"></i> Infertility</li>
                                            <li><i class="fas fa-check"></i> Testicular atrophy (shrinkage)</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="text-panel">
                            <p>If you have been diagnosed with a
                                varicocele, varicocele embolization is
                                a highly-effective, minimally-invasive
                                treatment that can help.</p>
                            <p>MVP’s varicocele embolization has
                                a success rate of 90%, which is the
                                same as surgical techniques —
                                without requiring surgery</p>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</section>



<section class="two-col-sections reverse lightbg">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/varicocele-embolization-img.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2 class="large-heading-font">Varicocele<br> Embolization</h2>
                    <p>Varicocele embolization is a highly effective,
                        minimally-invasive alternative to surgery, where a
                        vascular specialist closes blood flow to the affected
                        veins, causing the varicocele to shrink and die off.
                    </p>
                    <p>Our physicians at MVP can perform your procedure
                        at any of our convenient locations. The vascular
                        specialist and clinical staff at our outpatient
                        vascular centers combine medical expertise and
                        compassion to guide you through treatment, getting
                        you back to your daily routine quickly.</p>
                   
                </div>
            </div>
        </div>
    </div>
</section>






<section class="two-col-sections ">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/varicocele-embolization-img2.jpg" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2 class="large-heading-font">Benefits</h2>
                    <div class="single-service max-width-small">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Performed as an outpatient procedure, requiring no overnight hospital stay</li>
                                <li><i class="fas fa-check"></i> Requires no general anesthesia</li>
                                <li><i class="fas fa-check"></i> Utilizes only a small nick that does not require stitches — and results in no scarring </li>
                                <li><i class="fas fa-check"></i> Quicker recovery than in-patient surgical procedures (days instead of weeks) </li>
                                <li><i class="fas fa-check"></i> Reduced risk of infection compared to surgery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections lightbg quick-recovery-procedure lastbasimagesection">
    <div class="container">
        <div class="flex-col-2">
            <div class="text-panel">
                <div class="center-panel">
                    <h2 class="large-heading-font">The Minimally-Invasive,<br /> Quick-Recovery Procedure</h2>
                    <div class="single-service">
                        <div class="entry-introduction">
                            <div class="flex-list-section">
                                <ul class="list-unstyled advantages mb-0">
                                    <li><span class="number">1</span> You will be given a mild sedative to
                                        help you relax and a local anesthetic
                                        at the procedure site.</li>
                                    <li><span class="number">2</span> The vascular specialist will use
                                        fluoroscopy (a type of x-ray,
                                        image-guided technology) to insert
                                        a catheter through a small nick in
                                        your groin.</li>
                                    <li><span class="number">3</span>The catheter will be placed through
                                        your femoral vein and advanced into
                                        the affected testicular vein.</li>
                                    <li><span class="number">4</span> Contrast (a type of dye) is injected to
                                        help your physician visualize your
                                        veins so they know exactly where to
                                        embolize (block) the varicocele. </li>
                                </ul>
                                <ul class="list-unstyled advantages mb-0">

                                    <li><span class="number">5</span> Your physician places small coils
                                        and/or sclerosants, a medicine, to
                                        embolize the blood flow.</li>
                                    <li><span class="number">6</span> Once the vein is blocked, the
                                        varicocele will no longer be able to
                                        live.</li>
                                    <li><span class="number">7</span> You’ll begin to feel relief within days.</li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="image-panel quick-recoveryImg"><img src="assets/images/service-img-guy.png" alt="" /></div>

        </div>
    </div>

</section>
<contact-details></contact-details>
<common-footer></common-footer>