<section class="about about-1 careerbg" id="about-1">
    <div class="container">

        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-7 text--center">
                <h2 class="heading-title main-head">CAREER OPPORTUNITIES</h2>
            </div>
        </div>

        <div class="row flex-mob">
            <div class="col-12 col-lg-6 order2">
                <div class="heading heading-2">
                    <div class="row">
                        <div class="col-12 col-lg-12 ">
                            <div class="para-section">
                                <div class="icon-panel"><img src="assets/images/globe-icon.svg" alt="" /></div>
                                <p class="heading-desc"><strong>Reach your potential when you work at Mobile Vascular
                                        Physicians! Vascular Care is a groundbreaking organization that cares about
                                        improving patient’s lives.</strong></p>
                                <p class="heading-desc"> If you want to be a part of making a difference in patient care
                                    and
                                    patient outcomes, then Vascular Care is the place for
                                    you! We are a growing company that partners with physicians to
                                    operate in outpatient endovascular centers that treats patients with
                                    peripheral artery disease and other vascular complications.</p>
                                <div class="signature-block mb-120"><a [routerLink]="[ '/careers/jobs']"
                                         class="btn btn--primary btn--dark btn-line btn-line-after scroll-to-target"
                                         href="javascript:void(0)"><span>Career
                                            Opportunities</span><span class="line"> <span></span></span></a>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-lg-5 offset-lg-1 order1">
                <div class="about-img career-img"><img class="img-fluid" src="assets/images/careers/career-img-1.jpg"
                        alt="about Image" /></div>
            </div>

        </div>
    </div>
</section>
<section class="features about career-feature  bg-overlay bg-overlay-theme" id="features-1">
    <div class="bg-section"> <img src="assets/images/background/1.jpg" alt="Background" /></div>
    <div class="container">
        <div class="heading heading-3 heading-light">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="about-image-bottom mission-img"> <img src="assets/images/careers/career-img-2.jpg"
                            alt="image" /></div>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <h2 class="heading-title">Our Mission</h2>

                    <p class="heading-desc">Our doctors include highly qualified male and female practitioners who come
                        from a range of backgrounds and bring a diversity of skills. Our administration and support
                        staff all have exceptional people skills.</p>
                    <p class="heading-desc">Our administration and support staff all have exceptional people skills and
                        trained to assist you with all medical enquiries.</p>
                    <p class="heading-desc">If you're interested in working with a talented TEAM, click the following
                        link and apply!</p>

                    <div class="actions-holder"><a [routerLink]="[ '/careers/jobs']" class="btn btn--primary  btn-line btn-line-after scroll-to-target"
                            > <span>Career Opportunities</span><span class="line">
                                <span></span></span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<div class="contact-info" id="contact">
    <help-form></help-form>
</div>

