<section class="location-banner location-banner-main-page">
    <div class="container">
        <div class="row">
            <div class="banner-col">
                <div class="image-panel"><img src="assets/images/globe-big.png" alt="" /></div>

                <div class="banner_text">
                    <div class="center-panel">
                        <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                        <div class="text-panel">VASCULAR<br />
                            CARE CENTER<br />
                            LOCATIONS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<all-locations-list></all-locations-list>
<common-footer></common-footer>