
<div class="main_container">
    <section class="banner home-banner">
        <div class="container">
            <h2 class="wow fadeInUp">
                EXPERT VASCULAR CARE, <br>
                RIGHT NEAR YOU
            </h2>		
            <p class="wow fadeInUp" data-wow-delay="0.2s">MVP Care is a network of clinics and out-patient facilities offering vascular diagnostics, check-ups, and minimally invasive procedures. Get the care and intervention you need without going to the hospital.</p>
            <!--<a class="wow fadeInUp" href="contact.html" data-wow-delay="0.4s">BOOK MY APPOINTMENT</a>-->
            
            <div class="signature-block"><a class="btn btn--primary btn-line btn-line-after" href="javascript:void(0);"  [routerLink]="[ '/home/contact']"  ><span>Book My Appointment</span><span class="line"> <span></span></span></a>
                </div>
            
        </div>
    </section>
    
    <section class="home-highlight-section">
        <div class="container">
            <div class="doc-with-logo wow fadeInUp">
                <img src="assets/images/doc-with-logo.png" alt="" />
            </div>
            
            <div class="text-with-logo wow fadeInUp" data-wow-delay="0.2s">
                <img src="assets/images/stamp.png" alt="" />
                <p>MVP Care's <strong>35+ interventional radiologists, neurosurgeons, OBGYNs, vascular surgeons, and nursing staff</strong> are experts in treating vascular conditions.</p> 
            </div>
        </div>
    </section>
        
    <section class="features   facilities-section" id="treatment-conditions">
    
        <div class="container">
            <div class="features-holder flexs">
    
                <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/dialysis-access-management']">
                            <div class="feature-icon"><img src="assets/images/treatment-icon-2-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Dialysis Access<br /> Management</h4>
                                <!--<p>Free coverage adults with limited income.</p>-->
                            </div><a [routerLink]="[ '/home/services/dialysis-access-management']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/peripheral-artery-disease']">
                            <div class="feature-icon"><img src="assets/images/treatment-icon-5-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Peripheral Arterial <br /> Disease</h4>
                                <!-- <p>Contact our reception staff any time.</p>-->
                            </div><a [routerLink]="['/home/services/peripheral-artery-disease']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/uterine-fibroids-disease']">
                            <div class="feature-icon"><img src="assets/images/uterine-fibroids-icon-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Uterine Fibroids<br /> Disease</h4>
                                <!--<p>Provide all medical aspects practice</p>-->
                            </div><a [routerLink]="['/home/services/uterine-fibroids-disease']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/hemorrhoidal-disease']">
                            <div class="feature-icon"><img src="assets/images/hemorrhoidal-icon-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Hemorrhoidal <br> Disease</h4>
                            </div><a [routerLink]="['/home/services/hemorrhoidal-disease']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
    
    
                <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/pelvic-congestion-syndrome']">
                            <div class="feature-icon"><img src="assets/images/pelvic-congestion-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Pelvic Congestion <br> Syndrome</h4>
                            </div><a [routerLink]="['/home/services/pelvic-congestion-syndrome']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/prostatic-artery']">
                            <div class="feature-icon"><img src="assets/images/prostatic-artery-embolization-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Prostatic Artery <br> Embolization</h4>
                            </div><a [routerLink]="['/home/services/prostatic-artery']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/vericose-veins']">
                            <div class="feature-icon"><img src="assets/images/treatment-icon-4-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Varicose <br> Veins</h4>
                            </div><a [routerLink]="['/home/services/vericose-veins']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
                 <div>
                    <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel" [routerLink]="['/home/services/varicocele-embolization']">
                            <div class="feature-icon"><img src="assets/images/varicocele-embolization-black.svg" alt="" /></div>
                            <div class="feature-content">
                                <h4>Varicocele <br/> Embolization</h4>
                            </div><a [routerLink]="['/home/services/varicocele-embolization']"><i class="fas fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
    
    
    
    
            </div>
        </div>
    
    
    </section>    
    
    
    
    <section class="text-section">
        <div class="container">
            <h2 class="wow fadeInUp">You don't have to visit a hospital <br>for expert care.</h2>
            <p class="wow fadeInUp">
                Visit one of our certified out-patient surgical centers instead. Our<br> 
                out-patient procedures have the same rate of success as in-hospital ones - without<br>
                the pain or aggravation of an overnight hospital stay.
            
            </p>
        </div>
    </section>
    
    <section class="therapy-machine wow fadeIn">
        <img src="assets/images/therapy-machine.jpg" alt="" />
    </section>
    
    <section class="process-section">
        <div class="container">
            <div class="process-doc wow fadeInUp">
                <img src="assets/images/stand-doc.png" alt="" />
            </div>
            <div class="process">
                <h3 class="wow fadeInUp">Stellar health <br>is simple.</h3>
                <ul>
                    <li class="wow fadeInUp"><strong><span>1</span> CONSULTATION</strong>Visit one of our convenient clinic<br> locations for a well-check or<br> diagnostic appointment. </li>
                    
                    <li class="wow fadeInUp" data-wow-delay="0.2s"><strong><span>2</span> DIAGNOSTICS </strong>Our skilled clinicians will evaluate,<br> run diagnostics, and outline a<br> treatment plan. If intervention is<br> needed, we'll help you schedule an<br> appointment at one of our<br> out-patient facilities.</li>
                    
                    <li class="wow fadeInUp" data-wow-delay="0.4s"><strong><span>3</span> TREATMENT</strong>Come in for your interventional<br> care and go home the same day.<br> That quickly, you're on your way to<br> recovery. </li>
                </ul>
            </div>
        </div>	
    </section>
    
    
    </div>
    
    <div class="clearfix"></div>
    <div class="contact-info" id="contact">
       <!-- contact form comes here--> 
       <help-form></help-form>
    </div>