<!-- <section class="services" id="services-1" style="background-image: url(assets/images/background/pattern.png); background-size: cover;"> -->
  <section class="services" id="services-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading heading-7 text--center">
          <h2 class="heading-title">Conditions &amp; Treatments</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover=""  [routerLink]="[ '/home/dialysis-access-management']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/treatment-icon-2-black.svg" alt=""></div>
              <div class="service-title text-uppercase">
                <h4>Dialysis Access<br /> Management</h4>
              </div>
              <div class="service-desc justify">
                <p class="mt-2">Patients who undergo dialysis require “access,” i.e. a graft or fistula for the blood to
                  be dialyzed and then returned. If that access is compromised in any way, the life-saving dialysis
                  could jeopardize one’s overall health.</p>
              </div>
            </div>
            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover="" [routerLink]="[ '/home/peripheral-artery-disease']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/treatment-icon-5-black.svg" alt=""></div>
              <div class="service-title text-uppercase">
                <h4>Peripheral Artery<br /> Disease</h4>
              </div>
              <div class="service-desc justify">
                <p class="mt-2">Peripheral Artery Disease (PAD), also known by its acronym “PAD” is caused by plaque
                  build up in the legs and arms. PAD causes problems with circulation most commonly in the arteries in
                  the legs. </p>
              </div>
            </div>
            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover="" [routerLink]="[ '/home/uterine-fibroids']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/uterine-fibroids-icon-black.svg" alt=""></div>
              <div class="service-title text-uppercase">
                <h4>Uterine Fibroids<br> Disease</h4>
              </div>
              <div class="service-desc justify">
                <p class="mt-2">Are non-cancerous growths of the muscle tissue of the uterus. Fibroids can range in
                  number and size, from a single growth to multiple growths, and from very small to large. Many women
                  who have fibroids do not have any symptoms. In those that do, symptoms can be influenced by the
                  location, size and number of fibroids. </p>
              </div>
            </div>
            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover="" [routerLink]="[ '/home/hemorrhoidal-disease']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/hemorrhoidal-icon-black.svg" alt=""></div>
              <div class="service-title text-uppercase">
                <h4>Hemorrhoidal<br /> Disease</h4>
              </div>
              <div class="service-desc justify">
                <p class="mt-2">The tissue and veins around the anal canal are especially sensitive. Too much strain or
                  pressure on the rectal area can irritate the tissue, leading to a hemorrhoid, internal or external
                  bulges that can be itchy and painful.</p>
              </div>
            </div>
            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover=""  [routerLink]="[ '/home/pelvic-congestion-syndrome']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/pelvic-congestion-black.svg" alt=""></div>
              <div class="service-title text-uppercase">
                <h4>Pelvic Congestion<br> Syndrome</h4>
              </div>
              <div class="service-desc justify">
                <p class="mt-2">According to the National Institute of Health, a staggering 10 million women suffer from
                  Pelvic Congestion Syndrome (PCS).</p>
              </div>
            </div>

            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover="" [routerLink]="[ '/home/prostatic-artery']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/prostatic-artery-embolization-black.svg" alt=""></div>
              <div class="service-title text-uppercase">
                <h4>Prostatic Artery<br> Embolization</h4>
              </div>
              <div class="service-desc justify">
                <p class="mt-2">More than half of all men in their 60s and as many as 90% aged 70-89 years
                  have some symptoms of benign prostatic hyperplasia (BPH, or an enlarged prostate gland.)</p>
              </div>
            </div>

            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>


      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover="" [routerLink]="[ '/home/vericose-veins']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/treatment-icon-4-black.svg" alt=""></div>
              <div class="service-title text-uppercase">
                <h4>Varicose<br> Veins</h4>
              </div>
              <div class="service-desc justify">
                <p class="mt-2">Varicose vein symptoms can worsen over time and in severe cases, can lead to swollen
                  ankles, skin discoloration and ulceration.

                  MVP’s expert vascular clinicians can use minimally invasive procedures to fix your veins without
                  hospitalization and with minimal side effects.</p>
              </div>
            </div>

            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-12 col-md-6 col-lg-4 mb-4">
        <div class="service-panel" data-hover="" [routerLink]="[ '/home/varicocele-embolization']">
          <div class="service-panel-holder custompadd">
            <div class="service-content">
              <div class="service-icon"><img src="assets/images/varicocele-embolization-black.svg" alt=""></div>
              <div class="service-title">
                <h4>Varicocele<br> Embolization</h4>
              </div>
              <div class="service-desc">
                <p class="mt-2">Varicocele embolization is a highly effective, minimally-invasive alternative to
                  surgery, where a vascular specialist closes blood flow to the affected veins, causing the varicocele
                  to shrink and die off.</p>
              </div>
            </div>

            <div class="service-mores">
              <a class="btn btn--primary btn-line btn-line-after" href="javascript:void()"><span>read more</span><span
                  class="line"> <span></span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<common-footer></common-footer>