<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/dialysis-banner-img.jpg" alt="" /></div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                            <div class="text-panel">Dialysis <br />Access</div>
                            <p class="banner-tagline">A Patient Guide to Dialysis<br> Access Management</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections topProductsInfo">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-panel">
                        <div class="center-panel">
                            <h2 class="large-heading-font-think">Dialysis Relies</h2>
                            <p class="exlarge">on Your Access</p>
                            <p>For the estimated 468,000
                                Americans undergoing dialysis, maintaining
                                the vascular access point is critical. Without
                                it, doctors cannot effectively circulate the
                                filtered, dialyzed blood. Mobile Vascular
                                Physicians (MVP) is a concierge vascular
                                and interventional service, staffed by leading
                                doctors. We help you manage your dialysis
                                access point so you continuously and safely
                                undergo dialysis — and avoid hospitalization</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="image-panel"><img src="assets/images/dialsis-banner-img.png" alt=""
                                    class="img-fluid" /></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="two-col-sections blueboxrounded">
    <div class="container-custom">
        <div class="container">
            <div class="max-width-container">
                <div class="row">
                    <div class="col-12">
                        <p class="heading-large"><strong>Access Types</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-panel ">
                            <div class="center-panel">
                                <div class="single-service">
                                    <div class="entry-introduction">
                                        <ul class="list-unstyled advantages mb-0 mt-0">
                                            <li><i class="fas fa-check"></i> Arteriovenous Graft: A hollow tube is used
                                                to connect a vein and artery, usually in your arm or leg.</li>
                                            <li><i class="fas fa-check"></i> Arteriovenous Fistula: A vascular surgeon
                                                artificially connects an artery directly to a vein</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12 col-md12">
                                <p>Fistulas are longer-lasting and less likely to become infected while grafts are more
                                    effective with weak veins and quicker to create. Your MVP physician will advise on
                                    the best access type for you</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections reverse lightbg bgboxroundedabs">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/dialsys-img-3.jpg" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2 class="large-heading-font">Caring for Your Access</h2>
                    <p><strong>By protecting your access, you can safely continue<br> dialysis treatments.</strong></p>


                    <div class="single-service max-width-small mb-0">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0 mt-0">
                                <li><i class="fas fa-check"></i> Regularly wash with soap and water,
                                    especially before treatments</li>
                                <li><i class="fas fa-check"></i>Avoid infection caused by scratching,
                                    coughing, or sneezing on the area</li>
                                <li><i class="fas fa-check"></i> Reduce pressure by avoiding tight
                                    clothing, sleeping on your access, or
                                    carrying heavy objects with that arm</li>
                                <li><i class="fas fa-check"></i>Do not use your access arm to check
                                    blood pressure, place an IV, or draw
                                    blood</li>
                            </ul>

                        </div>
                    </div>

                    <p>Even with careful attention, it’s possible for your access to stop functioning. </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="two-col-sections ">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/dialsys-img-1.jpg" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2 class="large-heading-font">Signs and symptoms that your Dialysis Access
                        is not functioning properly</h2>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0 mt-0">
                                <li><i class="fas fa-check"></i> Black and blue infiltration</li>
                                <li><i class="fas fa-check"></i> Bleeding</li>
                                <li><i class="fas fa-check"></i> Decreased trill</li>
                                <li><i class="fas fa-check"></i> Difficult or painful cannulation</li>
                                <li><i class="fas fa-check"></i> Elevated pressure during dialysis</li>
                                <li><i class="fas fa-check"></i> Growing or changing aneurysms</li>
                                <li><i class="fas fa-check"></i> Increased pulsatility</li>
                                <li><i class="fas fa-check"></i> Poor clearances</li>
                                <li><i class="fas fa-check"></i> Redness or swelling</li>
                                <li><i class="fas fa-check"></i> Weakness or numbness in access arm</li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="two-col-sections reverse lightbg vericose-text-banner">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/dialsys-img-2.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2 class="large-heading-font">Our number one priority is always for you to return to dialysis as
                        quickly and safely as possible.</h2>
                    <p>If you run into trouble with your access, reach out to your doctor. We are here to help. Your MVP
                        vascular specialist will
                        examine your access and run. </p>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0 mt-0">
                                <li><i class="fas fa-check"></i> Angioplasty: Your doctor inserts a
                                    catheter to widen the fistula or graft </li>
                                <li><i class="fas fa-check"></i> Thrombectomy: Your doctor removes
                                    clots so that your access has good blood
                                    flow</li>
                                <li><i class="fas fa-check"></i> Stent Placement: Your doctor inserts a
                                    permanent tube that holds your fistula or
                                    graft open</li>


                            </ul>

                        </div>
                    </div>
                    <p>The average procedure takes 45-60 minutes.
                        We use medications and specialized
                        techniques to ensure it involves the least
                        pain possible and that the procedure will get
                        you back on track with your dialysis — <strong>for a
                            longer, healthier, and more comfortable
                            life.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
    
            <contact-details></contact-details>
     

<common-footer></common-footer>