<div id="confirmationModal" class="dialog-container modal" style="z-index: 10010;" *ngIf="isActive" keytestdirective
  (goListingPage)="keyDetails($event)" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">{{header}}</h5>
        <div class="custom-right1">
          <span class="float-right cursor-pointer" data-dismiss="modal" aria-label="Close" (click)="hideDialog()"><i class="pi pi-times mt-1 close-icon"></i></span>
        </div>
      </div>
      <div class="modal-body">
        <div class="notification_msg_div">{{message}}</div>
        <div *ngIf="header == 'Address Validation'">
          <div class="border p-3 my-3">
            <span class="font-weight-bold">{{newvalue.agentAddress1}} <br>{{newvalue.agentAddress2}}<br>
              {{newvalue.agentCity}} {{newvalue.agentState}} {{newvalue.agentZip}}</span>
          </div>
          <p>or click 'Cancel' to use the address just as you have entered it:</p>
          <div class="border p-3 my-3">
            <span class="font-weight-bold text-capitalize">{{oldvalue.agentAddress1}} <br>
              {{oldvalue.agentAddress2}}<br>
              {{oldvalue.agentCity}} {{oldvalue.agentState}} {{oldvalue.agentZip}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="panel1">
        <div style="margin-top: 2px;">
          <button type="button" class="py-1 px-3 btn btn-primary" (click)="confirmAction($event)">{{okText}}
          </button>
        </div>
        <button type="button" class=" py-1 px-3 btn btn-outline-info" (click)="cancelAction($event)"
          [class.inActive]="!cancelText">{{cancelText}}
        </button>
      </div>
    </div>
  </div>
</div>
