<app-spinner-manual [isSpinnerVisible]="isSpinnerVisible"></app-spinner-manual>
<app-toast></app-toast>
<p-confirmDialog header="" icon="fa fa-question-circle" [style]="{width: '40%'}" [baseZIndex]="20000" #cd>
    <p-footer class="confirm_btn">
        <button type="button" class="py-1 px-2 btn yes-btn" pButton label="Yes" (click)="cd.accept()"></button>
        <button id="confirm-footer-no-btn" type="button" class=" py-1 px-1 btn no-btn" pButton label="No"
            (click)="cd.reject()"></button>

    </p-footer>
</p-confirmDialog>
<div class="implicit-pag mt-4">
                     
    <p-table #dt2 class="table-striped table-hover hrListing" [scrollable]="true" 
         dataKey="id" scrollDirection="both" [value]="listingData"
        [paginator]="true" id="prepareBAtch" [rows]="10" sortField="name" [sortOrder]="1"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['id','name','jobId','jobTitle','dateApplied']" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50,100,500]" (sortFunction)="customSort($event)" sortField="dateApplied" [sortOrder]="-1">
        <ng-template pTemplate="caption">
           
            <div class="p-d-flex search-icon m-2">
                <!-- <div *ngIf="!selectedApplicant &&  submittedError1" class="text-danger text-small">
                    Applicant selection is required
                </div> -->
                <button *ngIf="searchGlobalText " (click)="clear(dt2)" pButton label="Clear Filters"
                    id="custom-btn" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="dt2.filterGlobal($event.target.value, 'contains')"></button>
                <span class=" p-ml-auto search-baricon">
                    <i class="pi pi-search mt-1"></i>
                    <input pInputText type="text" class="form-control-35"
                        [(ngModel)]="searchGlobalText" name="searchGlobalText"
                        (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
               

            </div>
            
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="corporate-tr">
                <!--  -->
                <th pSortableColumn="id" class="wt_hr_id" >
                    <div class="p-d-flex  p-ai-center">
                        <span class="ml-1">Applicant Id</span>
                        <p-sortIcon field="id"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="id" display="id"></p-columnFilter> -->

                    </div>

                </th>
                <th pSortableColumn="name" class="wt_hr" >
                    <div class="p-d-flex  p-ai-center">
                        <span class="ml-1">Applicant Name</span>
                        <p-sortIcon field="name"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="name" display="name"></p-columnFilter> -->
                    </div>
                </th>
                <th pSortableColumn="jobId" class="wt_hr_icon" >
                    <div class="p-d-flex  p-ai-center">
                        <span class="ml-1">Job Id</span>
                        <p-sortIcon field="jobId"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="jobId" display="jobId"></p-columnFilter> -->
                    </div>
                </th>
                <th pSortableColumn="jobTitle" class="wt_hr" >
                    <div class="p-d-flex  p-ai-center">
                        <span class="ml-1">Job Title</span>
                        <p-sortIcon field="jobTitle"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="jobTitle" display="jobTitle"></p-columnFilter> -->
                    </div>
                </th>
                <th pSortableColumn="dateApplied" class="wt_hr" >
                    <div class="p-d-flex  p-ai-center">
                        <span class="ml-1">Date Applied</span>
                        <p-sortIcon field="dateApplied"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="jobTitle" display="jobTitle"></p-columnFilter> -->
                    </div>
                </th>
                <th pSortableColumn="status" class="text-center wt_hr_icon" >
                    <div class="p-d-flex  p-ai-center center-align">
                        <span class="ml-1">Resume</span>
                        <p-sortIcon field="status"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="status" display="status">
                        </p-columnFilter> -->
                    </div>
                </th>
                <th *ngIf="isSuperUser" class="text-left user_edit">ACTIONS</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>

                <td class="wt_hr_id" ><span class="ml-1">{{rowData.id}}</span></td>
                <td class="wt_hr" >{{rowData.name}}</td>
                <td class="wt_hr_icon" >{{rowData.jobId}}</td>
                <td class="wt_hr" >{{rowData.jobTitle}}</td>
                <td class="wt_hr" >{{rowData.dateApplied}}</td>


                <td class="cursor-pointer text-center wt_hr_icon"
                    (click)="onShowPreview(rowData.documentId)" title="&#13; &nbsp; Preview File&#13;">
                    <!-- <span>
                        <img src="../../../assets/themeIcons/view-1.svg" width="19px"
                                                        class="cursor-pointer ml-2"/>
                    </span> -->
                    <i class="pi pi-file-pdf pdf_icon_st"></i>
                    <!-- <span
                        class="py-1 px-1 btn btn-outline-info" style="z-index: 999 !important;">
                        preview
                    </span> -->
                </td>
                <td *ngIf="isSuperUser" class="text-right user_edit">
                    <div class="d-flex">
                        
                        <span>
                            <img src="../../../assets/images/remove.svg" title="&#13; &nbsp; Delete Applicant&#13;"
                                width="16px" class="cursor-pointer ml-2" (click)="onDeleteApplicant(rowData.id)" />
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr *ngIf="isNoRecorsFound">
                <td colspan="6">No records found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="displayFile">
<preview-file [folderName]="folderName" [displayFile]="displayFile" [documentId]="documentId" (displayFileChange)="onClosePreview($event)">

    </preview-file>
</div>