<section class="contact-banner  essex-banner overlaybg">
    <div class="container">
        <h1>Essex County</h1>
    </div>
</section>
<div class="clearfix"></div>
<section class="contact-info contactus-page" id="location-info">
<div class="container">
<div class="row">
    <div class="contact-panel contact-panel-4">
        <div class="row align-items-stretch">
            <div class="col-12 col-lg-8 ">
                <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12080.321688819786!2d-74.1728508!3d40.8042265!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd7afb1e2509525d!2sMVP%20Vascular%20Care!5e0!3m2!1sen!2sin!4v1652187463788!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   

            </div>
            </div>
            <div class="col-12 col-lg-4 img-card-holder">
                <div class="contact-section-bg">
                    <div class="card-content">
                       <ul class="mvp-contact-infos horizontal-info">
                                <li><i class="fal fa-phone"></i>
                                    <h3>Phone:</h3><a href="tel:516-717-1839">516-717-1839</a>
                                </li>
                                <li><i class="fal fa-fax"></i>
                                    <h3>Fax:</h3><a href="#">not available</a>
                                </li>
                                <li><i class="fal fa-clock"></i>
                                    <h3>Working Hours:</h3> <span>Monday to Friday</span><span>8:30am – 6:30pm</span>
                                </li>
                                <li><i class="fal fa-map-marker-alt"></i>
                                    <h3>Address:</h3><a target="_blank" href="https://goo.gl/maps/pCmQBUZPW7y1Y7jT6">727 Joralemon St Belleville,<br> NJ 07109</a>
                                </li>
                            </ul>
                       <!-- <a class="btn btn--white btn-line btn-line-after" href="contact.php"><span>find a doctor</span><span class="line"><span></span></span></a>-->
                    </div>
                </div>
            </div>
       
    
     <section class="team team-gallery customGallery">
<div class="container"> 
    
    <div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
      <div class="heading heading-12 text-center">
        <h2 class="heading-title">Gallery</h2>
      </div>
    </div>
  </div>
 
  <div class="row"> 
    <div class="col-6 col-md-3 col-lg-3 team-member ">
      <div class="team-member-holder" data-hover="">
        <div class="team-img"><img src="assets/images/gallery/gallery-img-1.jpg" alt=""/>
          <div class="team-hover">
            <div class="team-action">
              <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="assets/images/gallery/gallery-img-1.jpg" title=""></a></div>
            </div>
            <!-- End .team-action -->
          </div>
          <!-- End .team-hover-->
        </div>
        <!-- End .team-img-->
      </div>
      <!-- End .team-member-holder-->
    </div>
    <div class="col-6 col-md-3 col-lg-3 team-member ">
      <div class="team-member-holder" data-hover="">
         <div class="team-img"><img src="assets/images/gallery/gallery-img-2.jpg" alt=""/>
          <div class="team-hover">
            <div class="team-action">
             <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="assets/images/gallery/gallery-img-2.jpg" title=""></a></div>
            </div>
            <!-- End .team-action -->
          </div>
          <!-- End .team-hover-->
        </div>
        <!-- End .team-img-->
      </div>
      <!-- End .team-member-holder-->
    </div>
    <div class="col-6 col-md-3 col-lg-3 team-member">
      <div class="team-member-holder" data-hover="">
         <div class="team-img"><img src="assets/images/gallery/gallery-img-3.jpg" alt=""/>
          <div class="team-hover">
            <div class="team-action">
             <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="assets/images/gallery/gallery-img-3.jpg" title=""></a></div>
            </div>
            <!-- End .team-action -->
          </div>
          <!-- End .team-hover-->
        </div>
        <!-- End .team-img-->
      </div>
      <!-- End .team-member-holder-->
    </div>
    <div class="col-6 col-md-3 col-lg-3 team-member ">
      <div class="team-member-holder" data-hover="">
        <div class="team-img"><img src="assets/images/gallery/gallery-img-4.jpg" alt=""/>
          <div class="team-hover">
            <div class="team-action">
              <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="assets/images/gallery/gallery-img-4.jpg" title=""></a></div>
            </div>
            <!-- End .team-action -->
          </div>
          <!-- End .team-hover-->
        </div>
        <!-- End .team-img-->
      </div>
      <!-- End .team-member-holder-->
    </div>
    <div class="col-6 col-md-3 col-lg-3 team-member ">
      <div class="team-member-holder" data-hover="">
         <div class="team-img"><img src="assets/images/gallery/gallery-img-5.jpg" alt=""/>
          <div class="team-hover">
            <div class="team-action">
              <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="assets/images/gallery/gallery-img-5.jpg" title=""></a></div>
            </div>
            <!-- End .team-action -->
          </div>
          <!-- End .team-hover-->
        </div>
        <!-- End .team-img-->
      </div>
      <!-- End .team-member-holder-->
    </div>
    <div class="col-6 col-md-3 col-lg-3 team-member">
      <div class="team-member-holder" data-hover="">
        <div class="team-img"><img src="assets/images/gallery/gallery-img-7.jpg" alt=""/>
          <div class="team-hover">
            <div class="team-action">
              <div class="team-zoom"><i class="far fa-eye"></i><a class="img-gallery-item" href="assets/images/gallery/gallery-img-6.jpg" title=""></a></div>
            </div>
            <!-- End .team-action -->
          </div>
          <!-- End .team-hover-->
        </div>
        <!-- End .team-img-->
      </div>
      <!-- End .team-member-holder-->
    </div>
  </div>
 
 
</div>
</section>


</div>
    </div>

    
    
    
</div>
</div>
</section>

<common-footer></common-footer>