<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/uterine-fibroids-disease-banner-img.jpg" alt="" /></div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                            <div class="text-panel">Uterine Fibroids <br>Disease</div>
                            <p class="banner-tagline">A Patient Guide to Uterine<br> Fibroid Embolization</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections reverse topProductsInfo ">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/uterine-fibroids-disease-2.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2 class="large-heading-font-think">You don’t have to </h2>
                    <p class="exlarge">have a hysterectomy</p>
                    <p>Speak with a vascular specialist about<br>
                        Uterine Fibroid Embolization</p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections  lightbg">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/uterine-img-2.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2>Understanding UFE</h2>
                    <p>According to the NIH, each year, approximately
                        200,000 women undergo hysterectomies
                        (removing all of the uterus) to alleviate symptoms
                        caused by benign fibroid masses. Fibroid
                        disease is behind nearly 60% of hysterectomies
                        performed in the U.S. each year</p>
                    <p><strong>But did you know that removing
                            your uterus is not the only solution</strong></p>
                    <p>MVP’s vascular specialists offer Uterine Fibroid
                        Embolization (UFE), an alternative treatment that
                        cures fibroids without a hysterectomy.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections reverse ">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/uterine-fibroids-disease-3.png" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2>How do I know if I
                        need UFE?</h2>
                    <p>Many women with fibroids live with the pain and
                        excessive menstrual bleeding, often missing
                        work and family events. Are you experiencing
                        these symptoms?</p>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0 mt-4">
                                <li><i class="fas fa-check"></i> Extreme pain</li>
                                <li><i class="fas fa-check"></i> Prolonged, heavy, painful periods</li>
                                <li><i class="fas fa-check"></i> Frequent urination</li>
                                <li><i class="fas fa-check"></i> Pain in the legs</li>
                                <li><i class="fas fa-check"></i> Abdominal bloating</li>
                                <li><i class="fas fa-check"></i> Backache</li>
                                <li><i class="fas fa-check"></i> Reduced sexual desire or function</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections lightbg quick-recovery-procedure quick-recovery-procedure-update">
    <div class="container">
        <div class="flex-col-2">
            <div class="text-panel">
                <div class="center-panel">
                    <h2 class="large-heading-font">Non-invasive procedure</h2>
                    <p>No long-term side effects. Just an effective treatment.</p>
                    <div class="single-service">
                        <div class="entry-introduction">
                            <div class="flex-list-section">
                                <ul class="list-unstyledm fullwidth advantages mb-0">
                                    <li><span class="number">1</span>
                                        <span class="blockDiv"> During the simple UFE procedure, surgeons
                                            block the artery supplying blood to the fibroid,
                                            which shrinks the fibroid and resolves the
                                            symptoms </span>

                                    </li>
                                    <li><span class="number">2</span>

                                        <span class="blockDiv">The procedure is conducted through one tiny
                                            skin nick, requiring no stitches, reducing pain
                                            and recovery time for the patient. Patients are
                                            typically in-and-out of the procedure room in
                                            under an hour</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-panel quick-recoveryImg"><img src="assets/images/invasion-procedure.png" alt=""></div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<div class="contact-info contactus-page contactblueSection" id="contact">
    <help-form></help-form>
</div>