<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/prostatic-artery-banner-img.jpg" alt="" />
                    </div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                            <div class="text-panel">Prostatic Artery <br>Embolization</div>
                            <p class="banner-tagline">Your guide to treating Lower Urinary Tract<br> Symptoms from
                                Benign Prostatic Hyperplasia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections topProductsInfo aboutbgfirst">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-panel">
                        <div class="center-panel">
                            <h2 class="large-heading-font-think">More than half of all men in their 60s and as many as
                                90% aged 70-89 years</h2>
                            <p class="exlarge">have some symptoms of benign prostatic hyperplasia (BPH, or an enlarged
                                prostate gland.)</p>

                            <p>The likelihood of developing an enlarged
                                prostate increases with age. As the
                                prostate gets bigger, it may constrict or
                                partly block the urethra, causing Lower
                                Urinary Tract Symptoms (LUTS).</p>



                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="image-panel"><img src="assets/images/doc-with-logo.png" alt=""
                                    class="img-fluid"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections blueboxrounded">
    <div class="container-custom">
        <div class="container">
            <div class="max-width-container">
                <div class="row">
                    <div class="row">
                        <div class="col-12">
                            <p class="heading-large"><strong>Signs and Symptoms</strong></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-panel ">
                            <div class="center-panel">
                                <div class="single-service">
                                    <div class="entry-introduction">
                                        <ul class="list-unstyled advantages mb-0 mt-0">
                                            <li><i class="fas fa-check"></i> Frequent urination</li>
                                            <li><i class="fas fa-check"></i> Dribbling at the end of urinating</li>
                                            <li><i class="fas fa-check"></i> Inability to urinate</li>
                                            <li><i class="fas fa-check"></i> Incomplete emptying of bladder</li>
                                            <li><i class="fas fa-check"></i> Incontinence</li>
                                            <li><i class="fas fa-check"></i> Difficulty starting urination</li>
                                            <li><i class="fas fa-check"></i> Straining to urinate or weak urine stream
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12 col-md12">
                                <p>For some patients, these symptoms
                                    interfere with sleep, further reducing their
                                    quality of life</p>
                                <h4>There is a solution.</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections  bgboxroundedabs lightbg">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/prostatic-artery-img-1.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2>Treatment</h2>
                    <p>The interventional radiologist uses X-rays
                        and other advanced imaging to diagnose
                        and treat conditions without surgery. </p>
                    <p>Because it is targeted treatment, PAE
                        offers many benefits compared to surgical
                        procedures:</p>
                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Shorter hospital stay and recovery
                                    time</li>
                                <li><i class="fas fa-check"></i> No retrograde ejaculations</li>
                                <li><i class="fas fa-check"></i> No erectile dysfunction</li>
                                <li><i class="fas fa-check"></i> Low risk of sexual side effects</li>
                                <li><i class="fas fa-check"></i> Low risk or urinary incontinence </li>
                                <li><i class="fas fa-check"></i> Shorter or no urinary catheterization
                                    time</li>
                                <li><i class="fas fa-check"></i> Decreased discomfort</li>


                            </ul>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</section>



<section class="two-col-sections reverse ">
    <div class="container">
        <div class="flex-col-2 center-align">
            <div class="image-panel"><img src="assets/images/peripheral-img-2.jpg" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2>What are the risk factors?</h2>
                    <p>Risk factors include:</p>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0 mt-4">
                                <li><i class="fas fa-check"></i>Hematoma at the incision site</li>
                                <li><i class="fas fa-check"></i>Blood in the urine</li>
                                <li><i class="fas fa-check"></i>Semen, or Stool;</li>
                                <li><i class="fas fa-check"></i>Bladder Spasms</li>
                                <li><i class="fas fa-check"></i>Infection of the puncture site or prostate</li>

                            </ul>
                        </div>
                    </div>

                    <p><strong>If you would like to treat BPH
                            without surgery, an interventional
                            radiologist will determine if you are
                            a candidate for PAE.</strong></p>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0 mt-0">
                                <li><i class="fas fa-check"></i> The physical exam may include a
                                    urine test (urinalysis) and a digital
                                    rectal exam. </li>
                                <li><i class="fas fa-check"></i> In some cases, a prostate-specific
                                    antigen (PSA) test is done to rule out
                                    prostate cancer. (Prostate cancer
                                    and BPH are not related, but they
                                    can cause similar symptoms.)
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="two-col-sections lightbg quick-recovery-procedure lastbasimagesection">
    <div class="container">
        <div class="flex-col-2">

            <div class="text-panel">
                <div class="center-panel">
                    <h2 class="large-heading-font">The PAE Procedure</h2>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <div class="flex-list-section">


                                <ul class="list-unstyled advantages mb-0">
                                    <li><span class="number">1</span> Depending on your radiologist’s
                                        procedural protocol, a Foley
                                        catheter (thin, hollow tube held in
                                        place with a balloon) may be
                                        inserted into your urethra to
                                        provide a reference point during
                                        the procedure. During PAE, you are
                                        given local anaesthetic and mild
                                        sedation medication, but remain
                                        awake</li>
                                    <li><span class="number">2</span> PAE is performed through a small
                                        incision measuring approximately
                                        3mm in your upper thigh or wrist.</li>
                                    <li><span class="number">3</span> The IR uses this incision to insert a
                                        catheter into your arteries and
                                        guide it near your prostate. Once
                                        the catheter is in position, an
                                        arteriogram (X-ray with dye) maps
                                        the blood vessels feeding the
                                        prostate. </li>


                                </ul>

                                <ul class="list-unstyled advantages mb-0">
                                    <li><span class="number">4</span> Next, Embosphere® Microspheres,
                                        tiny round particles each about
                                        the size of a grain of sand, are
                                        injected into the blood vessels,
                                        reducing blood supply to your
                                        prostate. The radiologist then
                                        repositions the catheter and uses
                                        the same system to treat the
                                        other side of your prostate. </li>

                                    <li><span class="number">5</span> Patients may experience
                                        “post-PAE syndrome” for days
                                        following the procedure, which
                                        can include nausea, vomiting,
                                        fever, pelvic pain, or painful and
                                        frequent urination.</li>
                                    <li><span class="number">6</span> In most cases, relief begins to
                                        occur within days — as soon as
                                        the prostate shrinks, relieving
                                        pressure on the urethra and
                                        improving symptoms.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="image-panel quick-recoveryImg"><img src="assets/images/service-img-guy.png" alt=""></div>

        </div>
    </div>

</section>
<div class="clearfix"></div>
<div class="contact-info contactus-page contactblueSection" id="contact">
    <help-form></help-form>
</div>