<nav class="navbar navbar-expand-lg navbar-light bg-light z-index-10  custom-nav w-100 position-fixed"
    style="align-items: center;">
    <div class="d-flex">
        <div class=" container navbar-brand brand cursor-pointer" (click)="onHomeClick()">
            <img style="height: 32px;"
                src="https://static.wixstatic.com/media/1a18f1_e2433a18bb96479cb8b83aa265a72748~mv2.png/v1/fill/w_369,h_79,al_c,q_85,usm_0.66_1.00_0.01/MVP_Horizontal_2C_01.webp">
        </div>
        <button #menu class="navbar-toggler humburger" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse collapse1 navbar-collapse" id="navbarNav">
        <ul class="navbar-nav custom-ul">
            <li class="nav-item">
                <a (click)="toggleMenu()" *ngIf="isDashboardVisible" class="nav-link" [routerLink]="[ '/dashboard']" routerLinkActive="active font-weight-bold "
                    [routerLinkActiveOptions]="{ exact : true}">Dashboard</a>
            </li>
            <li *ngIf="isAppointmentVisible" class="nav-item ">
                <a (click)="toggleMenu()" class="nav-link " [routerLink]="[ '/appointment']" routerLinkActive="active font-weight-bold "
                    [routerLinkActiveOptions]="{ exact : true}">Appointments</a>
            </li>
            <li *ngIf="isPatinetVisible" class="nav-item">
                <a (click)="toggleMenu()" class="nav-link " [routerLink]="[ '/patient']" routerLinkActive="active font-weight-bold "
                    [routerLinkActiveOptions]="{ exact : true}">Patients</a>
            </li>
            <li *ngIf="isProviderExist && isProviderVisible" class="nav-item">
                <a (click)="toggleMenu()" class="nav-link " [routerLink]="[ '/provider']" routerLinkActive="active font-weight-bold "
                    [routerLinkActiveOptions]="{ exact : true}">Providers</a>
            </li>
            <li *ngIf="isAnalyticsVisible" class="nav-item">
                <a (click)="toggleMenu()" class="nav-link " [routerLink]="[ '/analytics']" routerLinkActive="active font-weight-bold "
                    [routerLinkActiveOptions]="{ exact : true}">Analytics</a>
            </li>
            <li *ngIf="isReferAPatientVisible" class="nav-item" (click)="showDialog()">
                <a (click)="toggleMenu()" class="nav-link btn text-small mvpHoverBorder  btn-secondary text-uppercase common_btn_topbar">Refer
                    a Patient</a>
            </li>
            <li class="nav-item dropdown ml-1"><a class="nav-link dropdown-toggle pt-0" href="#" id="navbarDocs"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                        class="login-user">{{flName | uppercase}}</span></a>
                <div class="dropdown-menu d-block d-lg-table" aria-labelledby="navbarDocs">
                    <div class="row no-gutters d-flex d-lg-table-row flex-lg-nowrap mb-2">
                        <div class="d-lg-table-cell col">
                            <div class="row no-gutters d-lg-table-row pl-20m">
                                <div class="col">
                                    <h6 class="dropdown-header text-uppercase pt-3 pb-2">{{user}} <span
                                            *ngIf="isDesignation">,</span> {{securityObject.designation}}
                                    </h6>
                                    <a [routerLink]="[ '/setting']" (click)="toggleMenu()"
                                        class="dropdown-item pt-0 pb-1 d-flex align-items-center mb-2"
                                        href="javascript:void(0)">
                                        <span class="mr-3 icon-img"><img src="assets/themeIcons/cog-circle.svg"></span>
                                        <span>Settings<small class="text-muted d-block mt-n1">
                                                Manage settings</small> </span></a>
                                    <a (click)="toggleMenu()"
                                    (click)="onNavigateTo()" *ngIf="isManagesiteVisible"
                                        class="dropdown-item pt-0 pb-1 d-flex align-items-center mb-2 cursor-pointer"
                                        [routerLink]="[ '/manage-site']">
                                        <span class="mr-3 icon-img"><img
                                                src="assets/themeIcons/wench-double.svg"></span><span>Manage Site<small
                                                class="text-muted d-block mt-n1">Manage users</small> </span></a>

                                    <a class="dropdown-item pt-0 pb-1 d-flex align-items-center mb-2"
                                        href="javascript:void(0)">
                                        <span class="mr-3 icon-img"><img src="assets/themeIcons/logout-1.svg">
                                        </span><span (click)="logOut()">Log Out<small
                                                class="text-muted d-block mt-n1">Return to MVP web
                                                site</small> </span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div *ngIf="display">
    <referal-popup [display]="display" (displayChange)="onDialogClose($event)">
    </referal-popup>
</div>