<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card border-0 mb-0 mt-6">
                <div class="card-body px-lg-5 py-lg-5">
                    <form #resetPasswordForm="ngForm" (ngSubmit)="onSave(resetPasswordForm)" autocomplete="off">
                        <div class="form-group pos-relative">
                            <input type="password" class="form-control" placeholder="Current Password" required
                                name="currentPassword" #currentPassword="ngModel" [(ngModel)]="resetPasswordDto.currentPassword"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  />

                                <div *ngIf="currentPassword.errors &&  submittedError" class="text-danger text-small">
                                    <div [hidden]="!currentPassword.errors.required">
                                      Current Password is required
                                    </div>
                                    <div [hidden]="!currentPassword.errors.pattern">
                                        Current Password must contain at least one lowercase, uppercase, numeric & special character
                                    </div>
                                </div>
                        </div>
                        <div class="form-group pos-relative">
                            <input type="password" class="form-control" placeholder="New Password" required
                                name="password" #password="ngModel" [(ngModel)]="resetPasswordDto.password"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  />

                                <div *ngIf="password.errors &&  submittedError" class="text-danger text-small">
                                    <div [hidden]="!password.errors.required">
                                        Password is required
                                    </div>
                                    <div [hidden]="!password.errors.pattern">
                                        Password must contain at least one lowercase, uppercase, numeric & special character
                                    </div>
                                </div>
                        </div>
                        <div class="form-group pos-relative">
                            <input type="password" class="form-control" placeholder="Confirm Password" required
                                name="confirmPassword" #confirmPassword="ngModel"
                                [(ngModel)]="resetPasswordDto.confirmPassword" />
                                <span class="text-danger text-small"
                                *ngIf="confirmPassword.errors?.required &&  submittedError">
                                Confirm password is required
                            </span>
                            <span class="text-danger text-small"
                                *ngIf="password.value !== confirmPassword.value &&  submittedError">
                                Password not matched
                            </span>
                        </div>
                        <div class="text-center">
                            <button type="submit" [disabled]="!resetPasswordForm.dirty  || !password.value || !confirmPassword.value" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>