<section class="banner-section-bio">
    <div class="container">
        <div class="row">
            <div class="bio-col">

                <div class="col-12 col-lg-12">
                    <div class="bio-image-section">
                        <div class="image-panel"><img src="assets/images/team/Dr_Wolf_Headshot.jpg" alt=""></div>
                        <div class="banner_text">
                            <div class="center-panel eric-text">

                                <div class="text-panel">Dr. Joel Wolf</div>
                                <h4>Interventional Radiologist</h4>
                                <p>Dr. Joel Wolf is an interventional radiologist who specializes in a diverse array of
                                    procedures throughout the body including uterine artery/fibroid embolization,
                                    prostate artery embolization, and hemorrhoid artery embolization. He completed his
                                    training in diagnostic radiology at Albert Einstein College of Medicine’s Jacobi
                                    Medical Center and his interventional radiology fellowship at Montefiore Medical
                                    Center in the Bronx, NY. He spent time with one of the leading experts in prostate
                                    artery embolization and hemorrhoid artery embolization, two procedures that he
                                    currently performs. He is also a specialist in revascularization of peripheral
                                    arterial disease as well as in superficial venous ablations and sclerotherapy. He
                                    currently is seeing patients throughout the Northern Jersey, Southern Jersey and
                                    Philadelphia areas.</p>
                            </div>
                        </div>
                        <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-single team-single-standard teaminfosection">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-12">

                <div class="entry-table">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="content head">Education: </div>
                                </td>
                                <td>
                                    <div class="content head-list-right">
                                        <ul class="list-unstyled experties-list">
                                            <li><i class="fas fa-check"></i>University of Pittsburgh School of Medicine,
                                                Pittsburgh, PA </li>

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content head head-list-left">Residency:</div>
                                </td>
                                <td>
                                    <div class="content head-list-right">
                                        <ul class="list-unstyled experties-list in-list">
                                            <li><i class="fas fa-check"></i>Internal Medicine Internship: North
                                                Shore/Long Island Jewish Hospital System, Manhasset, NY

                                            </li>
                                            <li><i class="fas fa-check"></i> Radiology Residency: Albert Einstein
                                                College of Medicine, Jacobi Medical Center, Bronx, NY </li>
                                            <!-- <li><i class="fas fa-check"></i>Fellowship: Interventional Radiology
                                                Fellowship: Montefiore Medical Center, Albert Einstein COM, Bronx, NY

                                            </li> -->
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content head head-list-left">Speciality</div>
                                </td>
                                <td>
                                    <div class="content head-list-right spe-list">
                                        <ul class="list-unstyled experties-list">
                                            <li><i class="fas fa-check"></i> Uterine Artery/Fibroid Embolization </li>
                                            <li><i class="fas fa-check"></i> Prostate Artery Embolization </li>
                                            <li><i class="fas fa-check"></i> Hemorrhoid Artery Embolization

                                            </li>
                                           
                                        </ul>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content head head-list-left">Fellowship:</div>
                                </td>
                                <td>
                                    <div class="content head-list-right">
                                        <ul class="list-unstyled experties-list">
                                            <li><i class="fas fa-check"></i> Interventional Radiology
                                                Fellowship: Montefiore Medical Center, Albert Einstein COM, Bronx, NY</li>

                                            
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content head head-list-left">Hospital and Clinic
                                        Affiliations:</div>
                                </td>
                                <td>
                                    <div class="content head-list-right">
                                        <ul class="list-unstyled experties-list chief-col">
                                            <li><i class="fas fa-check"></i>  Jacobi Medical Center, Bronx, NY </li>
                                            <li><i class="fas fa-check"></i> North Shore/LIJ Hospital, Manhasset, NY </li>

                                        </ul>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- <common-footer></common-footer> -->