<top-bar></top-bar>
<div class="padding-container">
    <div class="row justify-content-center">
        <div class="col-md-12 px-3 aos-init aos-animate">
            <ul class="nav nav-tabs customNav mt-7" id="myTab" role="tablist">
                <div class="mb-3 p-headermenu">
                    <h2 class="mb-1 card-title text-black">Settings</h2>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" id="corporation-tab" data-toggle="tab" href="#corporation" role="tab"
                        aria-controls="corporation" aria-selected="true">Reset Password</a>
                </li>
            </ul>
            <div class="tab-content " id="myTabContent">
                <div class="tab-pane fade in active" id="corporation" role="tabpanel" aria-labelledby="corporation-tab">
                    <reset-password></reset-password>
                </div>
            </div>
        </div>
    </div>
</div>