<section class="banner-section-bio">
    <div class="container">
    <div class="row">
      <div class="bio-col">

        <div class="col-12 col-lg-12">
            <div class="bio-image-section">
         <div class="image-panel"><img src="assets/images/team/murat-cosar-sm.jpg" alt=""></div>
        <div class="banner_text">
            <div class="center-panel eric-text">
              
                <div class="text-panel">Murat Cosar, MD, PHD</div>
                <h4>Neurosurgeon</h4>
                <p>Dr. Murat Cosar is a neurosurgeon with more 
than thirty years of experience. He is 
board-certified to practice medicine in Turkey, 
New York, and New Mexico, and holds a Phd 
in neuroanatomy. Dr. Cosar’s research has 
been published more than 200 times in 
international medical journals and textbooks. 
He has also co-authored three books on 
spinal surgery and dynamic stabilization. </p>
            </div>
        </div>
                 <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div></div>
          </div>
      </div>
          </div> 
        </div></section>
<section class="team-single team-single-standard teaminfosection">
    <div class="container"> 
      <div class="row"> 
          
        <div class="col-12 col-lg-12">
         
          <div class="entry-table"> 
            <table class="table table-striped">
              <tbody> 
                <tr> 
                  <td>
                    <div class="content head head-list-left">Education:  </div>
                  </td>
                  <td>
                     <div class="content head-list-right">
                      <ul class="list-unstyled experties-list"> 
                        <li><i class="fas fa-check"></i> MD, Istanbul University, Faculty of Medicine, 
Istanbul, Turkey</li>
                           <li><i class="fas fa-check"></i> PHD, Afyon Kocatepe University, Graduate 
School of Medical Science in Anatomy, 
Istanbul, Turkey</li>
                      </ul>
                      </div>
                  </td>
                </tr>
                <tr> 
                  <td>
                    <div class="content head head-list-left">Residency:</div>
                  </td>
                  <td>
                    <div class="content head-list-right"><ul class="list-unstyled experties-list in-list"> 
                        <li><i class="fas fa-check"></i>  Neurosurgical residency: SB Okmeydani 
Education Hospital, Istanbul, Turkey </li>
                       
                      </ul></div>
                  </td>
                </tr>
                <tr> 
                  <td>
                    <div class="content head head-list-left">Speciality</div>
                  </td>
                  <td>
                    <div class="content head-list-right spe-list">
                      <ul class="list-unstyled experties-list"> 
                        <li><i class="fas fa-check"></i> Brain Tumors  </li>
                        <li><i class="fas fa-check"></i>  Movement Disorders</li>
                          <li><i class="fas fa-check"></i> Cerebrovascular  </li>
                        <li><i class="fas fa-check"></i>   Endovascular</li>
                          <li><i class="fas fa-check"></i> Peripheral Nerve  </li>
                       

                       
                      </ul>

                      <ul class="list-unstyled experties-list"> 
                       <li><i class="fas fa-check"></i>  Epilepsy</li>
                          <li><i class="fas fa-check"></i> Gamma Knife   </li>
                        <li><i class="fas fa-check"></i>  Trauma</li>
                          <li><i class="fas fa-check"></i> Pain  </li>
                       
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr> 
                  <td>
                    <div class="content head head-list-left">Fellowship:</div>
                  </td>
                  <td>
                    <div class="content head-list-right">
                      <ul class="list-unstyled experties-list"> 
                        <li><i class="fas fa-check"></i>Spinal Research Fellowship: UCLA, David Geffen 
School of Medicine, Los Angeles, CA </li>
                           <li><i class="fas fa-check"></i> Clinical Spine Fellowship: Koc University, 
American Hospital, Istanbul, Turkey </li>
                          <li><i class="fas fa-check"></i>   Clinical Neurosurgery Fellowship: University of New Mexico, School of Medicine, Albuquerque, NM</li>
                           <li><i class="fas fa-check"></i> Clinical Spine Fellowship: Cornell University, 
Weill Cornell Medicine, Brain and Spine Center, New York, NY</li>
                            
                          
                        

                      </ul>
                      </div>
                  </td>
                </tr>
                <tr> 
                  <td>
                    <div class="content head head-list-left">Hospital and Clinic
                      Affiliations:</div>
                  </td>
                  <td>
                    <div class="content head-list-right">
                      <ul class="list-unstyled experties-list chief-col"> 
                        <li><i class="fas fa-check"></i> Afyon Kocatepe University, Faculty of Medicine, Dept. of Neurosurgery, Istanbul, 
Turkey, Assistant Professor   </li>
                        <li><i class="fas fa-check"></i>  Canakkale 18 March University, Faculty of Medicine, Istanbul, Turkey, Professor, Chairman of Neurosurgery, and Vice Dean of 
Medicine </li>
                        <li><i class="fas fa-check"></i>  Afyon Kocatepe University, Afyonkarahisar, Turkey, Chairman of Neurosurgery </li>
                       
                      </ul>

                    </div>
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
         
          
        </div>
      </div>
    </div>
  </section>
  <common-footer></common-footer>