.btn {
    font-weight: 700 !important;
}

.form-control {
    
    height: 60px;
    line-height: 59px;
    
    background-color: #e6f8fb !important;
}

textarea.form-control {
    height: auto !important;
}

.team-more a {
    width: 130px !important;
  }
