<section class="home-slider">
    <div class="full-container">
        <div class="container">
            <div class="col-md-12">
                <div class="slide-content">
                    <h1 class="slide-headline">EXPERT<br /> VASCULAR<br /> CARE</h1>
                    <h2>RIGHT<br /> NEAR YOU.</h2>
                    <p class="slide-desc">Get vascular or interventional care without<br /> the aggravation of visiting
                        a hospital. </p>
                    <div class="slide-action"><a class="btn btn--primary btn-line btn-line-after"
                            href="javascript:void()" (click)="onConditionClick()">
                            <span>OUR SERVICES</span><span class="line"> <span></span></span></a></div>
                </div>
                <div class="image-panel"><img class="mt-auto" src="assets/images/banner-img-hi-re.png"
                        alt="Background" /></div>
            </div>
        </div>
    </div>
    <div class="home-banner-img"> </div>
    <div class="stamp-banner">
        <img src="assets/images/mvp-stamp.svg" alt="" />
    </div>
</section>

<section class="about about-1">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-2 text--center">
                <h2 class="heading-title main-head">Get diagnosed and treated<br /> in one convenient stop</h2>
            </div>
        </div>
        <div class="row flex-mob">
            <div class="col-12 col-lg-6 order2">

                <div class="row">
                    <div class="col-12 col-lg-12 ">
                        <div class="para-section">
                            <div class="icon-panel"><img src="assets/images/globe-icon.svg" alt="" /></div>
                            <p class="heading-desc"><strong>Mobile Vascular Physicians (MVP)</strong> is a concierge
                                vascular and
                                interventional service (commonly called ‘Special Procedures’), with a
                                concentration in lower extremity venous and arterial disease. We
                                provide the clinical consultation, diagnostic work up, and
                                minimally-invasive venous treatments to the patients that we service.
                            </p>

                            <div class="moretextsection">
                                <p> Our aim is to ensure that patients receive the highest standards in
                                    vascular care, at the greatest convenience with the
                                    best-patient-outcomes. This is achieved through individually
                                    designed treatment plans that adhere to the latest practice
                                    guidelines, thus ensuring the highest quality of care.</p>

                                <p class="heading-desc"> All procedures are performed by licensed, board certified
                                    physicians
                                    with vascular expertise, who have been published in prestigious
                                    academic journals and spoken internationally about vascular
                                    disease. Covered by Medicare and most insurances, we aim to
                                    provide the most cutting-edge treatment to our patients quickly and
                                    with minimal discomfort.</p>
                            </div>
                        </div>

                        <!-- <div class="team-button-panel moreBtnSection">
                            <div class="signature-block"><a class="btn btn--primary btn-line btn-line-after moreless-button" href="javascript:void(0)"><span class="more_txts">Read More</span><span class="line"> <span></span></span></a>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-6 order1">
                <div class="about-img about-img-custom"><img class="img-fluid"
                        src="assets/images/about/physician-video.jpg" alt="about Image" /><a
                        class="popup-video btn-video" href="https://player.vimeo.com/video/465005318?h=debce634c4"> <i
                            class="fas fa-play"></i><span>watch our presentation!</span></a></div>
            </div>

        </div>

        <style>


        </style>
    </div>
</section>
<section class="features bg-overlay bg-overlay-theme" id="treatment-conditions">
    <div class="container">
        <div class="heading heading-3 heading-light">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-2 text--center">
                    <h2 class="heading-title">Conditions &amp; <br /> Treatments</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-5 ">
                    <div class="custom-img-rounded"> <img class="img-fluid" src="assets/images/about/2.jpg"
                            alt="image" /></div>


                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class="paragraph">Our doctors include highly qualified male and female practitioners who come
                        from a range of backgrounds and bring a diversity of skills. </p>
                    <p class="heading-desc">Our administration and support staff all have exceptional people skills and
                        are trained to assist you with all medical inquiries.</p>
                    <div class="actions-holder">
                        <!--<a class="btn btn--transparent btn--inversed btn-line btn-line-after" href="#"> <span>our core values</span><span class="line"> <span></span></span></a>-->
                        <a class="btn btn--white scroll-to-target" data-target="#contact" href="javascript:void(0)"
                            (click)="onRequestConsultation()">Request Consultation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-holder flexs">

            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/dialysis-access-management']">
                        <div class="feature-icon"><img src="assets/images/treatment-icon-2.svg" alt="" /></div>
                        <div class="feature-content">
                            <h4>Dialysis Access<br /> Management</h4>
                            <!--<p>Free coverage adults with limited income.</p>-->
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/peripheral-artery-disease']">
                        <div class="feature-icon"><img src="assets/images/treatment-icon-5.svg" alt="" /></div>
                        <div class="feature-content">
                            <h4>Peripheral Arterial <br /> Disease</h4>
                            <!-- <p>Contact our reception staff any time.</p>-->
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/uterine-fibroids']">
                        <div class="feature-icon"><img src="assets/images/uterine-fibroids-icon.svg" alt="" /></div>
                        <div class="feature-content">
                            <h4>Uterine Fibroids<br /> Disease</h4>
                            <!--<p>Provide all medical aspects practice</p>-->
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/hemorrhoidal-disease']">
                        <div class="feature-icon"><img src="assets/images/hemorrhoidal-icon.svg" alt="" /></div>
                        <div class="feature-content">
                            <h4>Hemorrhoidal <br> Disease</h4>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>


            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/pelvic-congestion-syndrome']">
                        <div class="feature-icon"><img src="assets/images/pelvic-congestion.svg" alt="" /></div>
                        <div class="feature-content">
                            <h4>Pelvic Congestion <br> Syndrome</h4>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/prostatic-artery']">
                        <div class="feature-icon"><img src="assets/images/prostatic-artery-embolization.svg" alt="" />
                        </div>
                        <div class="feature-content">
                            <h4>Prostatic Artery <br> Embolization</h4>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/vericose-veins']">
                        <div class="feature-icon"><img src="assets/images/treatment-icon-4.svg" alt="" /></div>
                        <div class="feature-content">
                            <h4>Varicose <br> Veins</h4>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>

            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel" [routerLink]="[ '/home/varicocele-embolization']">
                        <div class="feature-icon"><img src="assets/images/varicocele-embolization.svg" alt="" /></div>
                        <div class="feature-content">
                            <h4>Varicocele <br /> Embolization</h4>
                        </div><a href="javascript:void(0)"><i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>



        </div>
    </div>


</section>
<section>
    <div class="box-3-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-3-flex">
                        <div class="list" id="conditionScroll" (click)="onConditionClick()">
                            <a class="scroll-to-target" href="javascript:void(0)" data-target="#treatment-conditions">
                                <div class="icon-panel"><img src="assets/images/condition-treatment.svg" alt="" /></div>
                                <p>Conditions &amp; <br /> Treatments</p>
                            </a>
                        </div>
                        <div class="list" [routerLink]="[ '/home/testimonials']"
                            routerLinkActive="active font-weight-bold " [routerLinkActiveOptions]="{ exact : true}">
                            <a href="javascript:void(0)">
                                <div class="icon-panel"><img src="assets/images/testimonials-icon.svg" alt="" /></div>
                                <p>Testimonials</p>
                            </a>
                        </div>
                        <div class="list" [routerLink]="[ '/home/contact']" routerLinkActive="active font-weight-bold "
                            [routerLinkActiveOptions]="{ exact : true}">
                            <a href="javascript:void(0)">
                                <div class="icon-panel"><img src="assets/images/send-message-icon.svg" alt="" /></div>
                                <p>Send us a message</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team team-grid leadership" id="clinicalTeam">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-2 text--center">
                    <h2 class="heading-title">Clinical Team</h2>
                </div>
            </div>
        </div>
        <div class="row" id="team-all">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="team-member" data-hover="" [routerLink]="[ '/home/abraham-knoll']">
                    <div class="team-member-holder">
                        <div class="team-img"><a class="link" href="javascript:void(0)"></a><img
                                src="assets/images/team/abraham-knoll-md.jpg" alt="team member" />

                        </div>
                        <!-- End .team-img-->
                        <div class="team-content">
                            <div class="team-title">
                                <h4><a href="javascript:void(0)">Dr. Abraham Knoll</a></h4>
                            </div>
                            <div class="team-cat"><a href="javascript:void(0)">Chief Medical Officer</a></div>
                            <div class="team-desc mb-0">
                                <p class="subtitle smallBio">Dr. Abe D. Knoll, MD, DABR, is a boardcertified
                                    radiologist, and fellowship
                                    trained endovascular surgeon, with
                                    expertise in arterial and venous disease.<a class="read_more_trigger" href="#">+
                                        More</a></p>
                            </div>
                            <div class="team-more"><a class="btn-line btn-line-inversed btn-line-before"
                                    href="javascript:void(0)"> <span class="line"> <span></span></span><span>read
                                        more</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="team-member" data-hover="" [routerLink]="[ '/home/daniel-stok']">
                    <div class="team-member-holder">
                        <div class="team-img"><a class="link" href="javascript:void(0)"></a><img
                                src="assets/images/team/daniel-stok.jpg" alt="team member" />

                        </div>
                        <div class="team-content">
                            <div class="team-title">
                                <h4><a href="javascript:void(0)">Daniel Stok</a></h4>
                            </div>
                            <div class="team-cat"><a href="javascript:void(0)">Lead Nurse Practitioner</a></div>
                            <div class="team-desc mb-0">
                                <p class="subtitle smallBio">Daniel Stok is the lead nurse practitioner
                                    for Mobile Vascular Physicians (MVP).
                                    Daniel attended Pace University and New
                                    York University, where he received his
                                    Bachelor’s in nursing. <a class="read_more_trigger" href="#">+ More</a></p>


                            </div>
                            <div class="team-more"><a class="btn-line btn-line-inversed btn-line-before"
                                    href="javascript:void(0)"> <span class="line"> <span></span></span><span>read
                                        more</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  col-lg-4">
                <div class="team-member" data-hover="" [routerLink]="[ '/home/eliezer-halpert']">
                    <div class="team-member-holder">
                        <div class="team-img"><a class="link" href="javascript:void(0)"></a><img
                                src="assets/images/team/eliezer-halpert-md.jpg" alt="team member" />

                        </div>
                        <!-- End .team-img-->
                        <div class="team-content">
                            <div class="team-title">
                                <h4><a href="javascript:void(0)">Dr. Eliezer Halpert</a></h4>
                            </div>
                            <div class="team-cat"><a href="javascript:void(0)">Medical Director</a></div>
                            <div class="team-desc mb-0">
                                <p class="subtitle smallBio">Dr. Eli Halpert, MD, received his medical
                                    degree from Tel Aviv University Sackler
                                    School of Medicine in 2006. After
                                    graduating, Dr. Halpert completed. <a class="read_more_trigger" href="#">+ More</a>
                                </p>


                            </div>
                            <div class="team-more"><a class="btn-line btn-line-inversed btn-line-before"
                                    href="javascript:void(0)"> <span class="line"> <span></span></span><span>read
                                        more</span></a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="team-button-panel">
            <div class="signature-block"><a class="btn btn--primary btn-line btn-line-after" href=""
                    [routerLink]="[ '/home/clinical-team']"><span>See All</span><span class="line">
                        <span></span></span></a>
            </div>
        </div>
    </div>
</section>
<section class="team team-grid" id="leadership">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-2 text--center">
                    <h2 class="heading-title">Leadership Team</h2>
                </div>
            </div>
        </div>
        <div class="row" id="team-all">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="team-member" data-hover="">
                    <div class="team-member-holder">
                        <div class="team-img"><a class="link" href="javascript:void(0)"></a><img
                                src="assets/images/team/Beechwood-Re.jpg" alt="Mark Feuer" />

                        </div>
                        <!-- End .team-img-->
                        <div class="team-content readmoresection">
                            <div class="team-title">
                                <h4><a href="javascript:void(0)">Mark Feuer</a></h4>
                            </div>
                            <div class="team-cat"><a href="javascript:void(0)">Founder and Chief Executive Officer</a>
                            </div>
                            <div class="team-desc">
                                <p class="subtitle">Mark is a seasoned executive and entrepreneur. Mr. Feuer previously
                                    served as
                                    COO of Merrill Lynch Americas, and CEO of Marsh USA . He also founded and grew
                                    a variety of companies in the healthcare space, including laboratory, portable
                                    diagnostics, post-acute/long-term care, and commercial insurance, among others.
                                    He holds a Juris Doctor from New York Law School and an LLM in Taxation from
                                    New York University School of Law. Mark is also actively involved with a number of
                                    charitable organizations and serves on the Boards of several schools.

                                    <a class="read_more_trigger" href="#">+ More</a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="team-member" data-hover="">
                    <div class="team-member-holder">
                        <div class="team-img"><a class="link" href="javascript:void(0)"></a><img
                                src="assets/images/team/crystal.jpg" alt="Crystal O'Sullivan" />
                        </div>
                        <div class="team-content readmoresection">
                            <div class="team-title">
                                <h4><a href="javascript:void(0)">Crystal O'Sullivan</a></h4>
                            </div>
                            <div class="team-cat"><a href="javascript:void(0)">Chief Operating Officer</a></div>
                            <div class="team-desc">
                                <p class="subtitle">Crystal O’Sullivan is Chief Operating Officer and brings Mobile
                                    Vascular Physicians more than 15 years of experience in management, leadership and
                                    operations in the healthcare, mobile diagnostics, imaging and radiology space.
                                    <br><br>
                                    Crystal has been involved in numerous healthcare related startups and has focused on
                                    developing operational efficiencies within startup healthcare organizations. Her
                                    expertise revolves around the analysis, creation and implementation of strategies
                                    relating to process-oriented organizational growth, logistics management, asset
                                    acquisition, and the capture of market share in multiple states for early stage
                                    companies. Crystal holds a bachelor's degree in Business Administration from Adelphi
                                    University.

                                    <a class="read_more_trigger" href="#">+ More</a>
                                </p>
                            </div>
                            <!--<div class="team-more"><a class="btn-line btn-line-inversed btn-line-before" href="#"> <span class="line"> <span></span></span><span>read more</span></a></div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="team-member" data-hover="">
                    <div class="team-member-holder">
                        <div class="team-img"><a class="link" href="javascript:void(0)"></a><img
                                src="assets/images/team/peterdevito.jpg" alt="Peter Devito" /></div>
                        <div class="team-content readmoresection">
                            <div class="team-title">
                                <h4><a href="javascript:void(0)">Peter Devito</a></h4>
                            </div>
                            <div class="team-cat"><a href="javascript:void(0)">General Manager</a></div>
                            <div class="team-desc">
                                <p class="subtitle">Peter DeVito leads the company’s operations, with responsibility for
                                    centers in New York, New Jersey, and Pennsylvania. He also oversees the company’s
                                    ongoing expansion efforts into emerging markets.<br><br>
                                    In his previous role with MVP, he served as Director of clinical operations and
                                    development. He was responsible for the company’s increasing development and
                                    expansion efforts into high growth, for both existing and new vascular care
                                    business.<br><br>
                                    Before joining MVP in January 2020, he served in various Operational roles and as
                                    corporate Radiology Services Manager for Lifeline Vascular/ DaVita, where he was
                                    instrumental in growing the Lifeline system, and multiple physician practices during
                                    a 16-year period.<br><br>
                                    Peter holds degrees in Radiologic Science, and Healthcare Administration.


                                    <a class="read_more_trigger" href="#">+ More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="team-button-panel">
            <div class="signature-block"><a class="btn btn--primary btn-line btn-line-after" href=""
                    [routerLink]="[ '/home/leadership-team']"><span>See All</span><span class="line">
                        <span></span></span></a>
            </div>
        </div>
    </div>
</section>
<section class="counter-main">
    <div class="counter-section counter-item">
        <div class="section">
            <div class="coutertext counter-content"><span class="count">{{this.locationCount}}</span> <b>Locations
                    Served</b></div>
        </div>
        <div class="section">
            <div class="coutertext counter-content"><span class="count">{{this.patientCount}}</span><i>+</i><b> Patients
                    Served</b>
            </div>
        </div>
        <div class="section">
            <div class="coutertext counter-content"><span class="count">81</span> <b>Certifications</b></div>
        </div>
    </div>
</section>
<section class="testimonial testimonial-3 bg-overlay bg-overlay-theme2" id="testimonial-4">
    <div class="bg-section"> <img src="assets/images/background/2.jpg" alt="background-img" /></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading heading-2 text--center">
                    <h2 class="heading-title">Hear The Inspiring Stories Of<br />
                        Our Patients.</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-lg-12">
                <div class="testimonials-holder">
                    <div class="carousel owl-carousel custom-carousel" data-slide="1" navtext="test" data-slide-rs="1"
                        data-slide-ms="1" data-autoplay="false" data-nav="true" data-dots="false" data-space="0"
                        data-loop="false" data-speed="400" autoplaytimeout="3000">
                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Responsive &amp; Knowledgeable</h4>
                                    <p>“As a medical director of multiple long term/short term facilities, my goal is to
                                        be able to provide the best care to my residents. I have been able to achieve
                                        and surpass this goal with the help of Mobile Vascular Physicians’s services.
                                        They are responsive, knowledgeable, and treat my patients and their families
                                        with care and compassion. Thank you, MVP"</p>
                                    <div class="testimonials-name">
                                        <h6>Ronald Gross</h6>
                                        <p>MD</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Next Dimension of Bedside Care</h4>
                                    <p>“Every member of the medical and administrative staff at Mobile Vascular
                                        Physicians is incredibly accommodating, reliable, patient, and friendly. Their
                                        practice is an overall pleasure to work with. Their care is top notch, and it is
                                        extremely gratifying to see patients experience relief from chronic conditions
                                        after receiving treatment from MVP."</p>
                                    <div class="testimonials-name">
                                        <h6>hira Bree</h6>
                                        <p>RN</p>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Next Dimension of Bedside Care</h4>
                                    <p>“Mobile Vascular Physicians has brought the LTC industry a whole new dimension of
                                        bedside vascular care which is delivered in a compassionate manner. From their
                                        customer service representatives to their interventional radiologists and
                                        vascular surgeons, our experience has been phenomenal. We appreciate the level
                                        of dedication and services they provided to our residents."</p>
                                    <div class="testimonials-name">
                                        <h6>Mayer Spilman</h6>
                                        <p>LNHA, Regional Administrator</p>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="testimonial-panel">
                            <div class="testimonial-body">
                                <div class="testimonial-content">
                                    <h4>Seamless!</h4>
                                    <p>“As the Administrator of a Skilled Nursing Facility, it is my duty to surround
                                        myself with a group of talented team members and ensure the best possible care
                                        for our residents. When it comes to clinical consultants, the fields of
                                        Dentistry, Psychiatry, and Dermatology often come to mind. After having the
                                        pleasure of working with Mobile Vascular Physicians, it is clear to me that
                                        Vascular should also be regarded as an essential in-house specialty - for any
                                        Administrator that is looking to provide care that is not only good, but
                                        exceptional."</p>
                                    <div class="testimonials-name">
                                        <h6>Yosef Spierer</h6>
                                        <p>Administrator</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="custom-navs">
                        <a class="prev" href="javascript:void(0)" data-hover=""><span class="line"> <span> </span></span><span>previous</span></a>
                        <a class="next" href="javascript:void(0)" data-hover=""><span>next</span><span class="line"> <span> </span></span></a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="donations vascular-care" id="donations-1">

    <div class="contanct-location">
        <all-locations-list></all-locations-list>
    </div>
</section>


<section class="about about-3 specialitybg" id="about-3">
    <div class="bg-section"> <img src="assets/images/leadership-bg.jpg" alt="background" /></div>
    <div class="container">
        <div class="heading heading-17 our-speciality">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">OUR <br />SPECIALTY.<br /> <b><span class="big">YOUR</span> <span
                                class="md">COMFORT.</span></b></h2>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class="heading-desc">We are equipped to perform some treatment on site, reducing the need for
                        patients to travel out of the facility. When out-patient care is necessary, MVP
                        coordinates the transportation and aide who accompanies the patient to
                        and from their appointment.</p>
                </div>
            </div>
        </div>
        <div class="video-card">
            <div class="row g-0">
                <div class="col-12 col-lg-6">
                    <div class="card-left">
                        <p class="title">Expert Vascular Care</p>
                        <p class="desc">We will work with you to develop individualised care plans, including
                            management of chronic diseases. If we cannot assist, we can
                            provide referrals or advice about the type of practitioner you require.
                            We treat all enquiries sensitively and in the strictest confidence.</p>
                        <ul class="speciality-list">
                            <li>
                                <img src="assets/images/contact-icon-new-1.svg" alt="" /><span class="address">LOCATIONS
                                    IN<br />NY, NJ and PA.</span>
                            </li>

                            <li>
                                <img src="assets/images/contact-icon-new-2.svg" alt="" /><span
                                    class="address">CERTIFIED<br />OUTPATIENT SURGICAL CENTERS</span>
                            </li>

                            <li>
                                <img src="assets/images/contact-icon-new-3.svg" alt="" /><span>{{patientCount}}+<br />PATIENTS
                                    SERVED</span>
                            </li>

                            <li>
                                <img src="assets/images/contact-icon-new-4.svg" alt="" /><span>EXPERT
                                    VASCULAR<br />CLINICIANS</span>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="col-12 col-lg-6 about-img-holder">
                    <div class="about-img"><img class="img-fluid" src="assets/images/about/4.jpg" alt="about Image" /><a
                            class="popup-video btn-video btn-video-2"
                            href="https://player.vimeo.com/video/465005318?h=debce634c4"> <i
                                class="fas fa-play"></i></a></div>
                </div>


            </div>
        </div>
    </div>
</section>
<section class="blog blog-grid blog-grid-3 affildation-logos" id="blog-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="heading heading-7 text-center">
                    <h2 class="heading-title">Affiliation and Accreditation

                    </h2>
                </div>
            </div>
        </div>

        <div class="carousel owl-carousel carousel-dots custom-carousel-slider" data-slide="5" data-slide-rs="2"
            data-slide-ms="2" data-autoplay="false" data-nav="true" data-dots="false" data-space="20" data-loop="false"
            data-speed="500" autoplaytimeout="500">
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-1.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-2.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-3.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-4.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-5.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-6.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-7.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-8.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-9.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="bgBlue">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>
</section>
<div class="clearfix"></div>
<contact-details></contact-details>
<common-footer></common-footer>