<section class="about about-4 greylightbg" id="about-4">
  <div class="container">
    <div class="avatars-holder">
      <div class="block-top">
        <div class="row">
          <div class="col-12 col-lg-2 wow fadeInDown">
            <div class="avatar avatar-1"><img src="assets/images/about/testimonials-img-1.jpg" alt="image" /></div>
          </div>
          <div class="col-12 col-lg-5 wow fadeIn">
            <div class="avatar avatar-2 bg-overlay bg-overlay-theme quote-section">
              <div class="bg-section"><img src="assets/images/about/testimonials-img-6.jpg" alt="image" /></div>
              <div class="avatar-content">
                <div class="avtar-flex-block">
                  <h2>TESTIMONIALS</h2>
                  <p>What Doctors are saying about us</p>
                </div>
                <div class="testimonails-quote"><img src="assets/images/about/quotes.svg" alt="" /></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 wow slideInDown">
            <div class="avatar avatar-3"><img src="assets/images/about/testimonials-img-2.jpg" alt="image" /></div>
          </div>
        </div>
      </div>
      <div class="block-bottom">
        <div class="row">
          <div class="col-12 offset-lg-1 col-lg-3 wow fadeInLeft">
            <div class="avatar avatar-5"><img src="assets/images/about/testimonials-img-4.jpg" alt="image" /></div>
          </div>
          <div class="col-12 col-lg-5 wow slideInUp">
            <div class="avatar avatar-6 pos-rel"><img src="assets/images/about/testimonials-img-5.jpg" alt="image" />

              <div class="testimonails-quote-rounded"><img src="assets/images/about/qutoes-circle.svg" alt="" /></div>
            </div>
          </div>
          <div class="col-12 col-lg-3 wow slideInRight">
            <div class="avatar avatar-4 pos-rel"><img src="assets/images/about/testimonials-img-3.jpg" alt="image" />
              <div class="testimonails-quote-rounded-top"><img src="assets/images/about/qutoes-circle.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End .avatars-holder-->
  </div>
  <!-- End .container-->
</section>

<div class="grey-bg-bottom"></div>




<section class="testimonial testimonial-3 bg-overlay bg-overlay-theme2" id="testimonial-4">
  <div class="bg-section"> <img src="assets/images/background/2.jpg" alt="background-img" /></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="heading heading-2 text--center">
          <h2 class="heading-title">Hear The Inspiring Stories Of<br />
            Our Patients.</h2>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-lg-12">
        <div class="testimonials-holder">
          <div class="carousel owl-carousel custom-carousel" data-slide="1" navtext="" data-slide-rs="1"
            data-slide-ms="1" data-autoplay="false" data-nav="true" data-dots="false" data-space="0" data-loop="false"
            data-speed="400" autoplaytimeout="3000">
            <div class="testimonial-panel">
              <div class="testimonial-body">
                <div class="testimonial-content">
                  <h4>Best Patient Care!</h4>
                  <p>“Working at MVP has been one of the best experiences I could
                    have had during my year off of clinical medicine. I have never
                    worked for a company with such value in teamwork, efficiency, and
                    SPIRIT. MVP has the best patient care I’ve ever seen in a nursing
                    home environment, and that attitude trickles all the way from the
                    top to the bottom. The leadership/mentorship here is a force to be
                    reckoned with and the company’s stats reflect it. Each and every
                    person here is a gem and it has been a treat and a treasure to be
                    employed here.”</p>
                  <div class="testimonials-name">
                    <h6>Dr.&nbsp;Cassandra Iton, MD</h6>
                    <p>Clinical Documentation Specialist</p>


                    <p> <span></span></p>
                  </div>

                </div>
              </div>
            </div>

            <div class="testimonial-panel">
              <div class="testimonial-body">
                <div class="testimonial-content">
                  <h4>Treat you like Family!</h4>
                  <p>“I believe that people matter, and I try to align myself with people
                    and organizations that feel the same. In my time here at Mobile
                    Vascular Physicians (MVP), I can proudly say that MVP values
                    people. From their employees to patients, they treat you like family
                    and pride themselves as being facilitators of health and growth.
                    Here at MVP we support each other and often challenge
                    employees to think outside the box with the goal of providing the
                    best patient care possible. MVP hopes to create a standard where
                    patients, families, facilities, and providers work together for the
                    good of the individual. This means that we value communication,
                    require teamwork, and strive for excellence. I am proud to be an
                    MVP employee, I take pride in the fact that my daily contributions
                    often change the lives and well-being of those around me.”</p>
                  <div class="testimonials-name">
                    <h6>Dr.&nbsp;Nashua Wisdom</h6>
                    <p>Clinical Documentation Specialist</p>


                    <p> <span></span></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--<div class="custom-navs"><a class="prev" href="javascript:void(0)" data-hover=""><span class="line"> <span> </span></span><span>previous</span></a><a class="next" href="javascript:void(0)" data-hover=""><span>next</span><span class="line"> <span> </span></span></a></div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="counter-main">
  <div class="counter-section counter-item">
    <div class="section">
      <div class="coutertext counter-content"><span class="count">{{locationCount}}</span> <b>Locations Served</b></div>
    </div>
    <div class="section">
      <div class="coutertext counter-content"><span class="count">{{patientCount}}</span><i>+</i><b> Patients Served</b></div>
    </div>
    <div class="section">
      <div class="coutertext counter-content"><span class="count">81</span> <b>Certifications</b></div>
    </div>
  </div>
</section>


<div class="clearfix"></div>
<div class="contact-info" id="contact">
  <help-form></help-form>
</div>