<section class="banner-section-bio">
    <div class="container">
        <div class="row">
            <div class="bio-col">

                <div class="col-12 col-lg-12">
                    <div class="bio-image-section">
                        <div class="image-panel"><img src="assets/images/team/abraham-knoll-sm.jpg" alt=""></div>
                        <div class="banner_text">
                            <div class="center-panel eric-text">

                                <div class="text-panel">Abraham D. Knoll, MD, MRB</div>
                                <h4>Vascular and Interventional Radiologist</h4>
                                <p>Dr. Abraham “Abe” Knoll is a board-certified
                                    physician specializing in vascular and
                                    interventional radiology. He is licensed to
                                    practice medicine in New York, New Jersey,
                                    Connecticut, and Florida, and holds a
                                    master’s degree in rabbinic studies. Dr. Knoll
                                    is the recipient of several prestigious awards
                                    including the Roentgen Resident Fellow
                                    Research Award from the Radiological
                                    Society of North America (RSNA).</p>
                            </div>
                        </div>
                        <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team-single team-single-standard teaminfosection">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-12">

                <div class="entry-table">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="content head">Education: </div>
                                </td>
                                <td>
                                    <div class="content">NYU School of Medicine, New York, NY </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content head head-list-left">Residency:</div>
                                </td>
                                <td>
                                    <div class="content head-list-right">
                                        <ul class="list-unstyled experties-list in-list">
                                            <li><i class="fas fa-check"></i> Internal medicine internship: Overlook
                                                Medical Center, Summit, NJ </li>
                                            <li><i class="fas fa-check"></i> Radiology residency: Columbia
                                                University Medical Center, Harlem
                                                Hospital Center, New York, NY </li>
                                            <li><i class="fas fa-check"></i> Radiology chief resident: Columbia
                                                University Medical Center, Harlem
                                                Hospital Center, New York, NY </li>
                                            <li><i class="fas fa-check"></i> Fellowship: Vascular and Interventional
                                                Radiology Fellowship: NYU Langone
                                                Medical Center, New York, NY </li>

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="content head head-list-left">Speciality</div>
                                </td>
                                <td>
                                    <div class="content head-list-right spe-list">
                                        <ul class="list-unstyled experties-list">
                                            <li><i class="fas fa-check"></i> Phlebotomy </li>
                                            <li><i class="fas fa-check"></i> Vascular & Interventional Radiology </li>
                                            <li><i class="fas fa-check"></i> Vascular Medicine </li>
                                            <li><i class="fas fa-check"></i> Uterine Fibroid Embolization </li>
                                            <li><i class="fas fa-check"></i> Venous Insufficiency </li>


                                        </ul>

                                        <ul class="list-unstyled experties-list">
                                            <li><i class="fas fa-check"></i> Peripheral Arterial Disease </li>
                                            <li><i class="fas fa-check"></i> Angioplasty </li>
                                            <li><i class="fas fa-check"></i> Pelvic Congestion Syndrome </li>
                                            <li><i class="fas fa-check"></i> Varicoceles </li>

                                        </ul>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="content head head-list-left">Hospital and Clinic
                                        Affiliations:</div>
                                </td>
                                <td>
                                    <div class="content head-list-right">
                                        <ul class="list-unstyled experties-list chief-col">
                                            <li><i class="fas fa-check"></i> NY Presbyterian Queens </li>
                                            <li><i class="fas fa-check"></i> Greenwich Hospital </li>
                                            <li><i class="fas fa-check"></i> White Plains Hospital </li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</section>
<common-footer></common-footer>