<section class="banner-section-bio">
  <div class="container">
  <div class="row">
    <div class="bio-col">

      <div class="col-12 col-lg-12">
          <div class="bio-image-section">
       <div class="image-panel"><img src="assets/images/team/emine-cosar-sm.jpg" alt=""></div>
      <div class="banner_text">
          <div class="center-panel eric-text">
            
              <div class="text-panel">Emine Cosar, MD</div>
              <h4>Surgeon</h4>
              <p>Dr. Emine Cosar is an obstetrician-gynecologist 
with more than twenty years of experience. 
She completed her residency in Obstetrics & 
Gynecology and fellowship in Minimally 
Invasive Gynecological Surgery in Turkey. Dr. 
Cosar is licensed to practice medicine both 
in Turkey and New York. </p>
          </div>
      </div>
               <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div></div>
        </div>
    </div>
        </div> 
      </div></section>
<section class="team-single team-single-standard teaminfosection">
  <div class="container"> 
    <div class="row"> 
        
      <div class="col-12 col-lg-12">
       
        <div class="entry-table"> 
          <table class="table table-striped">
            <tbody> 
              <tr> 
                <td>
                  <div class="content head">Education:  </div>
                </td>
                <td>
                  <div class="content">MD: Istanbul University School of 
Medicine, Istanbul, Turkey </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Residency:</div>
                </td>
                <td>
                  <div class="content head-list-right"><ul class="list-unstyled experties-list in-list"> 
                      <li><i class="fas fa-check"></i>  Marmara University School of Medicine, 
Dept. of Obstetrics and Gynecology, 
Istanbul, Turkey</li>
                      
                    </ul></div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Speciality</div>
                </td>
                <td>
                  <div class="content head-list-right spe-list">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i>   Abnormal Prenatal Diagnosis   </li>
                       <li><i class="fas fa-check"></i>  Advanced Fetal Ultrasound  </li>
                        <li><i class="fas fa-check"></i>  Amniocentesis  </li>
                       <li><i class="fas fa-check"></i>   Fetal Anomaly  </li>
                        <li><i class="fas fa-check"></i>  Genetic Counseling  </li>
                       <li><i class="fas fa-check"></i>  Heart Disease In Pregnancy   </li>


                    </ul>

                    <ul class="list-unstyled experties-list"> 
                                               <li><i class="fas fa-check"></i>  High Risk Obstetrics  </li>
                       <li><i class="fas fa-check"></i>  High Risk Pregnancy  </li>
                        <li><i class="fas fa-check"></i>  Multiple Gestations  </li>
                       <li><i class="fas fa-check"></i>   Multiple Pregnancy  </li>
                        <li><i class="fas fa-check"></i>  Preterm Birth Prevention  </li>
                     
                    </ul>
                  </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Fellowship:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i>Vascular and Interventional Radiology: 
Miami Cardiac and Vascular Institute, 
Miami, FL  </li>
                    </ul>
                    </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Hospital and Clinic
                    Affiliations:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list chief-col"> 
                      <li><i class="fas fa-check"></i>  Albert Einstein School of Medicine, Dept. 
of Allergy and Immunology, Bronx, NY, 
Coordinator   </li>
                       <li><i class="fas fa-check"></i>  Yale School of Medicine, Dept. of OBGYN 
and Reproductive Sciences, New Haven, 
CT, Visiting Scholar  </li>
                        <li><i class="fas fa-check"></i>  University of California, Los Angeles, CA, 
Visiting Scholar  </li>
                       <li><i class="fas fa-check"></i>  University of New Mexico, Dept. of 
OBGYN, Albuquerque, NM, Externship   </li>
                        <li><i class="fas fa-check"></i>  Canakkale 18 March University Medical 
Faculty, Istanbul, Turkey, Associate 
Professor  </li>
                       <li><i class="fas fa-check"></i>  Afyon Kocatepe University Medical 
Faculty, Istanbul, Turkey, Assistant 
Professor  </li>
                        
                     
                    </ul>

                  </div>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
       
        
      </div>
    </div>
  </div>
</section>