<section class="about about-1 careerbg aboutbgfirst">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-7 text--center">
                <h2 class="heading-title main-head">WHY US?</h2>
            </div>
        </div>
        <div class="row flex-mob">
            <div class="col-12 col-lg-6 order2">
                <div class="heading heading-2">
                    <div class="row">
                        <div class="col-12 col-lg-12 ">
                            <div class="para-section2">

                                <p class="heading-desc text-dark"><strong>Industry-Leading Vascular Care — Wherever You
                                        Are.</strong></p>

                                <p class="heading-desc">MVP provides compassionate and evidence-based
                                    care to long-term care residents.</p>

                                <p class="heading-desc">Wounds, blood clots, and other vascular ailments are
                                    especially pervasive among the vulnerable population
                                    in long-term care facilities. Undertreatment or delay of
                                    care can quickly lead to avoidable hospitalization and
                                    manifest as irreversible disease.</p>

                                <p class="heading-desc">Our highly-trained and skilled vascular clinicians ensure
                                    each patient’s vascular disease is managed properly
                                    so they can maintain or improve their overall health</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-lg-5 offset-lg-1 order1">
                <div class="about-img career-img why-img"><img class="img-fluid" src="assets/images/dialsys-img-1.jpg"
                        alt="" /></div>
            </div>

        </div>
    </div>
</section>



<section class="two-col-sections blueboxrounded">
    <div class="container-custom">
        <div class="container">
            <div class="max-width-container">
                <div class="row">
                    <div class="col-12">
                        <p class="heading-large"><strong>Since inception, our mission has<br /> remained firm:</strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-service bullet-list-sections">
                            <div class="entry-introduction">
                                <ul class="list-unstyled advantages mb-0">
                                    <li><i class="fas fa-check"></i> The highest standard
                                        of vascular care</li>
                                    <li><i class="fas fa-check"></i> Avoid unnecessary
                                        hospitalizations</li>
                                    <li><i class="fas fa-check"></i> Concierge service</li>


                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="single-service bullet-list-sections">
                            <div class="entry-introduction">
                                <ul class="list-unstyled advantages mb-0 second-bulletPoints">

                                    <li><i class="fas fa-check"></i> Superb patient-outcomes</li>
                                    <li><i class="fas fa-check"></i> Minimal discomfort</li>
                                    <li><i class="fas fa-check"></i> Effective communication with
                                        both clinicians and family </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections features about career-feature  bg-overlay  lightbg bgboxroundedabs" id="features-1">
    <div class="container">
        <div class="heading heading-3">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="custom-img-rounded"> <img class="img-fluid" src="assets/images/about-img2.jpg"
                            alt="image"></div>

                </div>
                <div class="col-12 col-lg-6 offset-lg-1">

                    <h2>A New Dimension of Bedside Vascular Care.</h2>
                    <h6>Specialized </h6>
                    <p class="heading-desc">MVP was created for long term care based on
                        understanding the unique set of LTC challenges. All of
                        our operations — including proprietary technology and
                        clinical services — are tailored to the particular needs
                        of the LTC population. </p>
                    <h6>Mobile</h6>
                    <p class="heading-desc">We are equipped to perform some treatment on site,
                        reducing the need for patients to travel out of the facility.
                        When out-patient care is necessary, MVP coordinates
                        the transportation and aide who accompanies the
                        patient to and from their appointment</p>
                    <h6>Preventative</h6>
                    <p class="heading-desc">In addition to curing existing disease, our interventions
                        prevent disease from developing. We ensure proper
                        vascular function with detailed treatment plans and
                        consistent check ups, thereby reducing the risk of
                        potential life threatening complications</p>


                </div>
            </div>
        </div>

    </div>
</section>



<section class="two-col-sections reverse">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/about-img3.jpg" alt=""></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2>No other vascular group
                        provides as comprehensive
                        a rotation of services.</h2>
                    <p>Patients in long term care settings including Skilled
                        Nursing, Assisted Living Facilities and Adult
                        Homes, can be fragile.
                        MVP provides a broad range of services focused on
                        prevention and healing of lower extremity wounds. All
                        the vascular care you need is in one place, provided
                        on-site, and by clinicians who understand the specific
                        challenges of LTC facilities.</p>
                    <p>Other symptoms include:</p>
                    <div class="single-service ">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i>Amputation Prevention </li>
                                <li><i class="fas fa-check"></i> Peripheral Artery Disease (PAD) </li>
                                <li><i class="fas fa-check"></i> Dialysis Access Management</li>
                                <li><i class="fas fa-check"></i>Gastrostomy Tube </li>
                                <li><i class="fas fa-check"></i> Hemorrhoid Disease</li>
                                <li><i class="fas fa-check"></i> Venous Insufficiency </li>
                                <li><i class="fas fa-check"></i>Initial Venous Access</li>
                                <li><i class="fas fa-check"></i> Skill-training and education for managing:
                                    <ul class="childrens-bullet">
                                        <li>- PICC lines</li>
                                        <li>- Hard-to-start peripheral IVs</li>
                                        <li>- Complex chemotherapy or Medi-ports</li>
                                        <li>- Tunneled venous access devices</li>

                                    </ul>


                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="clearfix"></div>

<section class="about about-3 specialitybg" id="about-3">
    <div class="bg-section"> <img src="assets/images/leadership-bg.jpg" alt="background" /></div>
    <div class="container">
        <div class="heading heading-17 our-speciality">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">OUR <br />SPECIALTY.<br /> <b><span class="big">YOUR</span> <span
                                class="md">COMFORT.</span></b></h2>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class="heading-desc">We are equipped to perform some treatment on site, reducing the need for
                        patients to travel out of the facility. When out-patient care is necessary, MVP
                        coordinates the transportation and aide who accompanies the patient to
                        and from their appointment.</p>
                </div>
            </div>
        </div>
        <div class="video-card">
            <div class="row g-0">
                <div class="col-12 col-lg-6">
                    <div class="card-left">
                        <p class="title">Expert Vascular Care</p>
                        <p class="desc">We will work with you to develop individualised care plans, including
                            management of chronic diseases. If we cannot assist, we can
                            provide referrals or advice about the type of practitioner you require.
                            We treat all enquiries sensitively and in the strictest confidence.</p>
                        <ul class="speciality-list">
                            <li>
                                <img src="assets/images/contact-icon-new-1.svg" alt="" /><span class="address">LOCATIONS
                                    IN<br />NY, NJ and PA.</span>
                            </li>

                            <li>
                                <img src="assets/images/contact-icon-new-2.svg" alt="" /><span
                                    class="address">CERTIFIED<br />OUTPATIENT SURGICAL CENTERS</span>
                            </li>

                            <li>
                                <img src="assets/images/contact-icon-new-3.svg" alt="" /><span>{{patientCount}}+<br />PATIENTS
                                    SERVED</span>
                            </li>

                            <li>
                                <img src="assets/images/contact-icon-new-4.svg" alt="" /><span>EXPERT
                                    VASCULAR<br />CLINICIANS</span>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="col-12 col-lg-6 about-img-holder">
                    <div class="about-img"><img class="img-fluid" src="assets/images/about/4.jpg" alt="about Image" /><a
                            class="popup-video btn-video btn-video-2"
                            href="https://player.vimeo.com/video/465005318?h=debce634c4"> <i
                                class="fas fa-play"></i></a></div>
                </div>


            </div>
        </div>
    </div>
</section>
<section class="bgBlue">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>
</section>
<section class="blog blog-grid blog-grid-3 affildation-logos" id="blog-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="heading heading-7 text-center">
                    <h2 class="heading-title">Hospital Affiliation and Accreditation

                    </h2>
                </div>
            </div>
        </div>

        <div class="carousel owl-carousel carousel-dots custom-carousel-slider" data-slide="5" data-slide-rs="2"
            data-slide-ms="2" data-autoplay="false" data-nav="true" data-dots="false" data-space="20" data-loop="false"
            data-speed="500" autoplaytimeout="500">
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-1.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-2.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-3.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-4.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-5.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-6.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-7.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-8.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-entry" data-hover="">
                    <div class="entry-img">
                        <a href="javascript:void(0)"><img src="assets/images/affillation-logo-9.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<div class="clearfix"></div>
   <contact-details></contact-details>
    <common-footer></common-footer>