<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/hemorrhoidal-banner.jpg" alt="" /></div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                            <div class="text-panel">Hemorrhoidal<br> Disease</div>
                            <p class="banner-tagline">A Patient Guide to Hemorrhoids<br> and Embolization Treatment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="two-col-sections topProductsInfo pb-0">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-panel">
                        <div class="center-panel">
                            <h2 class="large-heading-font-think">Live a normal, </h2>
                            <p class="exlarge"> pain-free life again</p>
                            <p><strong>Hemorrhoidal Disease (HEM)</strong></p>
                            <p>The tissue and veins around the anal canal are especially sensitive. Too much strain or pressure on the rectal area can irritate the tissue, leading to a hemorrhoid, internal or external bulges that can be itchy and painful.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="image-panel"><img src="assets/images/uterine-fibroids-disease-3.png" alt="" class="img-fluid"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-col-sections blueboxrounded">
    <div class="container-custom">
        <div class="container">
            <div class="max-width-container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Hemorrhoids can be found internally (upper anal canal) and externally (under the skin around the anus). The severity of internal hemorrhoids is measured on grades 1-4 based on the level of prolapse (drooping) and whether they can be reduced.</p>
                        <p>Mobile Vascular Physicians is trained and experienced with the various methods of hemorrhoid treatment and can help you find the relief you need.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>




<section class="two-col-sections lightbg symptoms-disease bgboxroundedabs">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/hemorrhoidal-img-2.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2>Symptoms</h2>
                    <h6>EXTERNAL</h6>
                    <p>External hemorrhoids are usually asymptomatic. However, if the external hemorrhoid clots and becomes thrombosed or if it becomes inflamed, the hemorrhoid can cause painful swelling in the perineal area.</p>
                    <h6>INTERNAL</h6>
                    <p>Depending on the grade and location of internal hemorrhoids, you may experience:</p>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> <strong>Bleeding:</strong> Because a hemorrhoid is caused by increased blood supply to the area, bleeding is the most common symptom. Bleeding is even more common once the hemorrhoid has prolapsed through the anal canal.</li>
                                <li><i class="fas fa-check"></i> Itching and perineal irritation</li>
                                <li><i class="fas fa-check"></i> <strong>Fecal soiling</strong>: When tissue prolapses, it’s harder to control the anal seal. This can lead to involuntary fecal soiling.</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two-col-sections reverse">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/amputation-img-3.jpg" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2>The Superior Rectal Artery<br> Embolization Procedure</h2>
                    <p>Superior Rectal Artery Embolization is a non-surgical, minimally invasive treatment. The procedure is performed under local anesthesia by an interventional radiologist.</p>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Is non-surgical, non-aggressive and non-invasive</li>
                                <li><i class="fas fa-check"></i> Requires no general anesthesia</li>
                                <li><i class="fas fa-check"></i> Does not create rectal wounds</li>
                                <li><i class="fas fa-check"></i> Preserves anal continence</li>
                                <li><i class="fas fa-check"></i> Leaves hemorrhoidal tissue intact</li>

                            </ul>
                        </div>
                    </div>
                    <p>Who is Superior Rectal Artery
                        Embolization best for?</p>
                    <p>It’s the most advantageous treatment for
                        patients with grades 2-3 internal
                        hemorrhoids, for whom medication,
                        non-surgical or surgical treatment, and
                        lifestyle changes were not effective. The
                        team at Mobile Vascular Physicians will
                        perform a CT Angiography to diagnose
                        your hemorrhoid and determine whether
                        you will benefit from this procedure</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="two-col-sections lightbg whatsprocedure">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/hemorrhoidal-img-banner2.png" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2 class="large-heading-font">What is the procedure?</h2>
                    <p>Superior Rectal Artery Embolization is a
                        painless procedure, which takes around 50
                        minutes from start to finish.
                    </p>
                    <p>During the procedure, the radiologist places
                        small coils that clot the hemorrhoidal arteries
                        and stop blood flow, simultaneously reducing
                        your symptoms.</p>

                    <div class="single-service">
                        <div class="entry-introduction">
                            <div class="flex-list-section">
                                <ul class="list-unstyled advantages mb-0">
                                    <li><span class="number">1</span> A thin catheter is inserted to the
                                        femoral artery through a tiny 1.5
                                        millimeter opening, which is created in
                                        the groin area.</li>
                                    <li><span class="number">2</span> The radiologist uses a moving x-ray
                                        (fluoroscope) to guide the catheter
                                        through the arteries</li>

                                    <li><span class="number">3</span> The radiologist places small coils at
                                        the branches of the arteries, which seal
                                        off the vessels.</li>

                                    <li><span class="number">4</span> Depending on the size and location of
                                        the hemorrhoid, the radiologist may
                                        repeatedly guide the catheter to
                                        embolize arteries in more than one area</li>

                                </ul>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<div class="contact-info contactus-page contactblueSection" id="contact">
    <help-form></help-form>
</div>