<section class="location-banner service-banner-main">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="banner-col">
                    <div class="image-panel-rounded"><img src="assets/images/pelvic-congestion-syndrome-banner-img.jpg"
                            alt="" /></div>

                    <div class="banner_text">
                        <div class="center-panel">
                            <div class="banner-image"><img src="assets/images/mvp-stamp-transparent.svg" alt="" /></div>
                            <div class="text-panel">Pelvic <br>Congestion</div>
                            <p class="banner-tagline">Your guide to ovarian<br> vein embolization</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="two-col-sections topProductsInfo ">
    <div class="container-custom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-panel">
                        <div class="center-panel">
                            <p class="exlarge">According to the National Institute of Health, a staggering</p>
                            <h2 class="large-heading-font-think">10 million women suffer from Pelvic Congestion Syndrome
                                (PCS).
                            </h2>



                            <p>PCC (or pelvic vein incompetence) is a
                                chronic medical condition where varicose
                                veins develop in the lower abdomen.</p>

                            <p>The condition causes debilitating pain, and
                                when left untreated, PDF long-term
                                disability, depression and neurological
                                changes. </p>
                            <p>Ovarian Vein Embolization is a
                                non-invasive, out-patient procedure
                                that seals the affected veins, relieving
                                pressure and the resulting symptoms.</p>
                            <p class="fs-4">PCS is most common for women ages 20-45.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="image-panel"><img src="assets/images/pelvic-congestion-img2.jpg" alt=""
                                    class="img-fluid"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="two-col-sections  lightbg">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/uterine-img-1.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2>Condition and Cause </h2>

                    <p><strong>Here are several factors, including:</strong></p>


                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Multiple pregnancies</li>
                                <li><i class="fas fa-check"></i> Hormonal changes </li>
                                <li><i class="fas fa-check"></i> Weight gain</li>
                                <li><i class="fas fa-check"></i> Presence of a “tipped” uterus</li>
                                <li><i class="fas fa-check"></i> Polycystic ovaries</li>


                            </ul>

                        </div>
                    </div>
                    <p><strong></strong></p>



                </div>
            </div>
        </div>
    </div>
</section>



<section class="two-col-sections reverse ">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/pelvic-img-2.jpg" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2>Symptoms</h2>
                    <p><strong>Those who suffer from PCS
                            deal with a host of symptoms.</strong></p>
                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Dull aches, sharp or throbbing pain in the
                                    pelvis or lower back</li>
                                <li><i class="fas fa-check"></i> Pain while or after sitting or standing for a
                                    long time, which is relieved by lying down</li>
                                <li><i class="fas fa-check"></i> Irritable bladder that sometimes lead to
                                    unintentional urination</li>
                                <li><i class="fas fa-check"></i> Irritable bowel that sometimes leads to
                                    recurrent abdominal pain and diarrhea
                                    alternating with periods of constipation</li>
                                <li><i class="fas fa-check"></i> Pain during or after sexual intercourse</li>
                                <li><i class="fas fa-check"></i> Vaginal varicose veins</li>
                                <li><i class="fas fa-check"></i> Varicose veins on inner thighs or the back
                                    thighs</li>
                                <li><i class="fas fa-check"></i> Lower back pain or achy legs</li>
                                <li><i class="fas fa-check"></i> Abnormal vaginal bleeding</li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="two-col-sections  lightbg">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/peripheral-img-2.jpg" alt="" /></div>
            <div class="text-panel ">
                <div class="center-panel">
                    <h2>Diagnosis </h2>

                    <p>In order to diagnose PCS, our skilled
                        clinicians will use one of the following
                        diagnostic techniques to identify which
                        veins are affected.</p>


                    <div class="single-service">
                        <div class="entry-introduction">
                            <ul class="list-unstyled advantages mb-0">
                                <li><i class="fas fa-check"></i> Ultrasound</li>
                                <li><i class="fas fa-check"></i> CT Scanning or MRI </li>
                                <li><i class="fas fa-check"></i> Pelvic Venography</li>


                            </ul>

                        </div>
                    </div>
                    <p><strong></strong></p>



                </div>
            </div>
        </div>
    </div>
</section>


<section class="two-col-sections reverse ">
    <div class="container">
        <div class="flex-col-2">
            <div class="image-panel"><img src="assets/images/venous-banner-img.png" alt="" /></div>
            <div class="text-panel">
                <div class="center-panel">
                    <h2>Treatment</h2>
                    <p>We offer a minimally invasive and
                        non-surgical treatment for PCS called
                        Ovarian Vein Embolization. Ovarian Vein
                        Embolization is performed as an
                        outpatient procedure with no overnight
                        hospital stay. </p>
                    <p>Using ultrasound guidance, our skilled
                        interventional radiologists insert a tiny
                        catheter with a sclerosing agent, which
                        seals the affected vein and relieves the
                        pain and pressure. The entire procedure
                        takes only thirty minutes. </p>
                    <p>The cost of this treatment is covered by
                        most insurance plans. We have a
                        dedicated insurance department to help
                        you with your insurance related
                        questions.</p>

                    <h6>Recovery</h6>
                    <p>Immediately after the procedure, some women experience pelvic cramping, which only lasts a few
                        days. most women comfortably return to work after a few weeks. </p>
                    <p class="mb-80 reducespacemobile">According to radiologyinfo.org the success rate for ovarian vein
                        embolization is 85%. You will finally experience relief from the painful symptoms that had been
                        plaguing you.</p>

                </div>
            </div>
        </div>
    </div>

</section>
<contact-details></contact-details>
<common-footer></common-footer>