<section class="banner-section-bio">
  <div class="container">
    <div class="row">
      <div class="bio-col">

        <div class="col-12 col-lg-12">
          <div class="bio-image-section">
            <div class="image-panel"><img src="assets/images/team/daniel-stok-sm.jpg" alt=""></div>
            <div class="banner_text">
              <div class="center-panel eric-text">

                <div class="text-panel">Daniel Stok, NP</div>
                <h4>Nurse Practitioner</h4>
                <p>Daniel Stok is the lead nurse practitioner for Mobile Vascular Physicians (MVP). Daniel attended Pace
                  University and New York University, where he received his Bachelor’s in nursing. </p>
                <p>Daniel joined the practice in February 2019 and has been an integral part of the organization's
                  growth. Prior to his position with MVP, he spent 10 years working in pediatric oncology and palliative
                  care. At MVP, he assists in formatting clinical nurse practitioner protocols, formulating treatment
                  plans for long term care patients, and providing ongoing training and quality control for his team.
                </p>
              </div>
            </div>
            <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-single team-single-standard teaminfosection">
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-12">

        <div class="entry-table">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>
                  <div class="content head">Education: </div>
                </td>
                <td>
                  <div class="content">Master of Science, Family Primary Care:
                    Pace University, New York, NY </div>
                  <div class="content">Bachelors in Nursing: NYU, New York, NY</div>
                </td>
              </tr>
              <!-- <tr>
                <td>
                  <div class="content head head-list-left">Residency:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list in-list">
                      <li><i class="fas fa-check"></i> sdfsdfds</li>
                      <li><i class="fas fa-check"></i> sdfsdfds</li>
                    </ul>
                  </div>
                </td>
              </tr> -->
              <tr>
                <td>
                  <div class="content head head-list-left">Speciality</div>
                </td>
                <td>
                  <div class="content head-list-right spe-list">
                    <ul class="list-unstyled experties-list">
                      <li><i class="fas fa-check"></i> Pain Management for Chronic Illness </li>
                      <li><i class="fas fa-check"></i> Family Education </li>
                      <li><i class="fas fa-check"></i> Managing Psychosocial Complications </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="content head head-list-left">Fellowship:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list">
                      <li><i class="fas fa-check"></i>Palliative Medicine Nurse Practitioner
                        Fellowship: Memorial Sloan Kettering
                        Cancer Center, New York, NY </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="content head head-list-left">Hospital and Clinic
                    Affiliations:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list chief-col">
                      <li><i class="fas fa-check"></i> NYU Langone Hospital, New
                        York, NY, Staff NP </li>
                      <li><i class="fas fa-check"></i> Memorial Sloan Kettering
                        Cancer Center, New York, NY,
                        Clinical Nurse </li>


                    </ul>

                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</section>

<common-footer></common-footer>