<section class="banner-section-bio">
  <div class="container">
  <div class="row">
    <div class="bio-col">

      <div class="col-12 col-lg-12">
          <div class="bio-image-section">
       <div class="image-panel"><img src="assets/images/team/eliezer-halpert-sm.jpg" alt=""></div>
      <div class="banner_text">
          <div class="center-panel eric-text">
            
              <div class="text-panel">Eli Halpert, MD</div>
              <h4>Vascular and Interventional Radiologist
Medical Director</h4>
              <p>Dr. Eli Halpert is board-certified Vascular and 
Interventional Radiologist. He is licensed to practice 
medicine in NY, NJ, CT, FL, CA, AZ, WA, and others. Dr. 
Halpert has been awarded the Citation Certificate of 
the Office of the President, Borough of Brooklyn, and is 
a Stars Under Forty honoree. He has published in 
medical and scientific journals and has been an invited 
speaker at national medical conferences.</p>
              <p>Dr. Halpert has focused his efforts and interests on 
providing community and long-term care patients with 
the most advanced minimally invasive therapeutic 
procedures. Specifically, therapeutic interventions for 
Limb Salvage, Peripheral Arterial Disease, and Venous 
Insufficiency, as well as Uterine Fibroid Embolization.</p>
          </div>
      </div>
               <div class="mvg-logo-rounded"><img src="assets/images/mvp-stamp-transparent.svg" alt=""></div></div>
        </div>
    </div>
        </div> 
      </div></section>
<section class="team-single team-single-standard teaminfosection">
  <div class="container"> 
    <div class="row"> 
        
      <div class="col-12 col-lg-12">
       
        <div class="entry-table"> 
          <table class="table table-striped">
            <tbody> 
              <tr> 
                <td>
                  <div class="content head">Education:  </div>
                </td>
                <td>
                  <div class="content">Medical Doctor, Sackler School of Medicine, 
Tel Aviv, Israel </div>
                </td>
              </tr>
                
                <tr> 
                <td>
                  <div class="content head">Internship:  </div>
                </td>
                <td>
                  <div class="content">Surgery, SUNY Downstate Medical Center, 
Brooklyn, NY</div>
                </td>
              </tr>
                
                
              <tr> 
                <td>
                  <div class="content head head-list-left">Residency:</div>
                </td>
                <td>
                  <div class="content head-list-right"><ul class="list-unstyled experties-list in-list"> 
                      <li><i class="fas fa-check"></i>  Radiology, Yale University School of Medicine - 
Hospital of Saint Raphael, New Haven, CT</li>

                    </ul></div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Speciality</div>
                </td>
                <td>
                  <div class="content head-list-right spe-list">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i>  Venous Insufficiency  </li>
                       <li><i class="fas fa-check"></i>   May Thurner Syndrome  </li>
                        <li><i class="fas fa-check"></i>  Phlebology  </li>
                       <li><i class="fas fa-check"></i>  Vascular Medicine  </li>
                        <li><i class="fas fa-check"></i>  Peripheral Arterial Disease  </li>
                       
                      
                    </ul>

                    <ul class="list-unstyled experties-list"> 
                       <li><i class="fas fa-check"></i>   Angiography  </li>
                        <li><i class="fas fa-check"></i>  Uterine Fibroid Embolization  </li>
                       <li><i class="fas fa-check"></i>   Pelvic Congestion Syndrome  </li>
                        <li><i class="fas fa-check"></i>  Varicocele embolization  </li>
                       <li><i class="fas fa-check"></i>  Dialysis Access  </li>
                     
                    </ul>
                  </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Fellowship:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list"> 
                      <li><i class="fas fa-check"></i>Vascular and Interventional Radiology, Beth 
Israel Medical Center, NYC, NY </li>
                    </ul>
                    </div>
                </td>
              </tr>
              <tr> 
                <td>
                  <div class="content head head-list-left">Hospital and Clinic
                    Affiliations:</div>
                </td>
                <td>
                  <div class="content head-list-right">
                    <ul class="list-unstyled experties-list chief-col"> 
                      <li><i class="fas fa-check"></i>  New York Presbyterian Hospital of Queens, 
Queens, NY  </li>
                       <li><i class="fas fa-check"></i>  Maimonides Medical Center, Brooklyn, NY  </li>
                       
                     
                    </ul>

                  </div>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
       
        
      </div>
    </div>
  </div>
</section>
<common-footer></common-footer>