<section class="location-banner location-banner-main-page">
  <div class="container">
      <div class="row">
          <div class="banner-col">
              <div class="image-panel"><img src="assets/images/transparent-logo-3d.png" alt="" /></div>

              <div class="banner_text">
                  <div class="center-panel">
                      <div class="banner-image"><img src="assets/images/mvp-stamp-transparent-white.svg" alt="" /></div>
                      <div class="text-panel">VASCULAR<br>
                          CARE CENTER
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


</section>

<all-locations-list></all-locations-list>